[2015-05-15 20:47] spacejam opened #6 "update for 1.0"

[2015-06-27 14:58] tanderberg opened #7 "error: unresolved import `std::str::from_c_str`. There is no `from_c_str` in `std::str`"
Tried compiling, got
error: unresolved import `std::str::from_c_str`. There is no `from_c_str` in `std::str`
True enough, from_c_str is deprecated. Suggested replacement here:
http://www.reddit.com/r/rust/comments/2robk4/whats_the_nondeprecated_equivalent_of_from_c_str/

[2015-06-27 15:16] tanderberg commented on #7
Looking at the source, this problem already seems to have been fixed in master, but apparently the "official" crate has not been updated. Unfortunately, trying to use master produces another error:
src\rocksdb.rs:201:18: 201:41 error: unresolved name `slice::from_raw_mut_buf`
Is this library still being maintained?

[2015-06-28 20:29] spacejam commented on #7
Hello @tanderberg!  I've pushed a few updates to the nightly_6.28.15 branch, but it appears that some handling of raw buffers is no longer valid, and some tests are failing.  I've been waiting a bit for rust to settle down before spending more time on this, but it seems that that now may be a good time to resume.  I'll be digging into the current buffer issues over the next couple days as I have t

[2015-07-01 08:12] spacejam commented on #7
@tanderberg I've fixed the buffer issues (the way I was transmuting slices became invalid at some point) and I've pushed a new crate, 0.0.5, that should work with the current nightly.  If you have any problems at all please open an issue and I'll try to address them asap - I think I'll probably be adding support for scanning this weekend in case that's something you're interested in.  If you encou

[2015-07-01 08:12] #7 closed

[2015-07-01 08:12] #6 closed

[2015-07-11 23:43] dgrnbrg opened #9 "WriteBatch and Iterator Support"
Hello, I'm very interested in adding support for these features. I've just started learning Rust, but I'd be happy to help if you could outline what it would take for me.

These features together add read and write transactions to the DB, which enables new use cases.

[2015-07-11 23:45] dgrnbrg opened #10 "Custom Comparators"
Hello, I'm interested in custom comparator support. I would like to be able to specify keys as lists of sorted keys. This way, I could do prefix lookups on multiple levels of variable-length prefixes. This indexing scheme is critical for building EAV database indices like [Datomic](http://www.datomic.com/)  (a functional DB) use.

[2015-07-12 09:53] spacejam commented on #9
You're halfway there!  Don't pick up too many bad habits from this codebase because it was also my first rust project and there's a good amount that needs to be cleaned up still :P Because creating an iterator in rocksdb essentially just records the offset of the tip of the LSM to scan backwards from during reads, it's safe and improves flexibility to decouple the returned iterator from the RocksD

[2015-07-12 11:52] spacejam commented on #10
Added: https://github.com/spacejam/rust-rocksdb/pull/13

I'm a bit unfamiliar with the comparator, could you modify the test in comparator.rs so that it covers your desired use-case?  Bonus points for short usage example in the readme with an example of how the comparator can assist with this interesting problem.

[2015-07-13 01:37] dgrnbrg commented on #10
Basically, I'd like to initialize the DB w/ a "serialization config", so that you can have a designated pair of K & V types with custom-defined serialization & comparator, so that it's possible to use RocksDB with crazy types. For instance, I've often wanted keys which are actually a list of many variable-length lexographically or ordinally ordered elements. For instance, a key of the form `[hostn

[2015-07-14 21:15] dgrnbrg commented on #9
I've mostly implemented iterators here: dgrnbrg/rust-rocksdb@b491d27 which still needs more cleanup and testing. It does, however, support snapshots, memory safety, and doesn't allocate when traversing the iterator.

I'd like to add support for snapshots as well, and then I'll drop in a PR. I think that it's time to put the tests into a separate project--do you have a good example of how I can mak

[2015-07-15 03:02] spacejam commented on #9
Awesome, I'm really looking forward to this!  I find that I often look at Carl Lerche's code when I'm interested in finding a nice example for how to do something.  Does the way that some testing is pulled into a separate module [here](https://github.com/carllerche/mio) fit the bill?  Note that there are still inline tests (search for #[cfg(test)]) for certain tests but much of it has been separat

[2015-07-17 07:02] spacejam commented on #9
This has landed and is now available in crate version 0.0.7, thanks @dgrnbrg!

[2015-07-17 07:02] #9 closed

[2015-07-17 07:10] spacejam opened #17 "column family support"
Column families are placed into their own store files, but share the same WAL with the rest of the DB - allowing for cross-CF atomicity and maximizing locality for certain types of workloads.  One thing I want to use in some situations is a lookaside table that maps prefixes or attributes to a compact corresponding byte sequence for certain time series operations.  This allows for a number of nice

[2015-07-17 15:28] spacejam opened #19 "better testing"
Most of the major features have functional tests which occasionally blow up when misusing pointers, but we need to expand coverage to other parts of the codebase so that we can improve the confidence gained when linking against new versions of RocksDB down the road.

[2015-07-17 16:04] spacejam opened #20 "rustdocs"
While the README.md contains a nice high-level overview, we may want to add rustdoc style documentation to reduce the time some people will spend fighting their compiler while trying this out for the first time.

[2015-07-18 03:25] #10 closed

[2015-07-18 12:55] mneumann opened #22 "Add Multi-thread support"
Atm, it seems to be not possible to access a RocksDB instance from multiple threads.

[2015-07-18 15:28] spacejam commented on #22
Thanks for fixing this!

[2015-07-18 15:28] #22 closed

[2015-07-18 15:35] spacejam commented on #22
This has landed in the 0.0.8 release that I just cut.

[2015-07-18 20:19] mneumann commented on #22
Cool! :+1:

[2015-07-27 00:22] code-ape opened #24 "Can't compile rust-rocksdb"
Followed the instructions but had the following error when compiling:

[code]

Any idea what the issue is? I'm happy to do a PR and fix it if needed :)

[2015-07-27 03:07] spacejam commented on #24
Hey @code-ape!  Are you building using a recent nightly rustc?  Currently the library is only targeting the unstable nightly releases, although I would love to get a version that targets the 1.1.0 release if it's doable without significant work.  I was just able to compile it using today's nightly on Linux and OSX, but it's totally possible I'm assuming something that isn't true about my setup, an

[2015-07-27 04:08] code-ape commented on #24
No, it was a bug in my setup! I reloaded the nightly build at it worked fine haha. I'll take a look at seeing how hard it is to port to 1.1.0 though!

[2015-07-27 06:38] spacejam commented on #24
Awesome, glad you got it working!  Feel free to open a PR even for small things that you move away from unstable dependencies, as every bit helps.

[2015-07-27 06:38] #24 closed

[2015-08-02 06:47] anvie opened #25 "Not compilable in Rust 1.1.0"
[code]

[2015-08-02 21:14] spacejam commented on #25
Hey @anvie! I've been putting off removing the unstable features because I assumed it would be a far more significant change than was actually required, but it was actually not too bad!  I've cut a new release, 0.1.0, which should work with Rust 1.1 stable!  Enjoy!

https://github.com/spacejam/rust-rocksdb/releases/tag/v0.1.0

[2015-08-02 21:14] #25 closed

[2015-09-28 16:28] spacejam commented on #17
This was mostly addressed in the last release, and other CF ops will be added as requested.

[2015-09-28 16:28] #17 closed

[2015-10-08 23:20] spacejam opened #28 "add support for prefix seek"
This feature has been requested, and has a ton of different use cases in higher-level database abstractions built on top of this.

[2015-10-08 23:53] spacejam opened #29 "column families do not work in conjunction with a merge operator"
This has been successfully done using the C API, so now we just need to trace through the parallel implementations and find the divergence.

[2015-11-05 22:34] steveklabnik opened #30 "A few questions about DBResult"
Hey there,

I had a few questions about DBResult.

It's unfortunate that it's not an actual `Result`, because then you don't get the nice combinator methods. I was working on some code with @petehunt today, and I was assuming we could use `unwrap_or()`, for example, but that doesn't exist.

Is there some specific reason why it's not `DbResult<Option<T>, E>`, for example? that'd still get you the `

[2015-11-05 22:57] spacejam commented on #30
There is no good reason, other than my own ignorance when I was learning rust for the first time while writing this library!  I've been wanting to see this improved for a while, but haven't prioritized it.  Now that I know it's causing pain for others I'm much more incentivized to get it into a better place, and will probably have time in the next couple days to patch a few things up in this libra

[2015-11-05 23:14] steveklabnik commented on #30
Great! I don't think it's a huge deal right this moment, but I might send you a PR tomorrow if I have some time :) you know the codebase better than I.

[2015-11-05 23:15] petehunt commented on #30
+1 for prefix seek! :)

[2015-11-06 16:24] steveklabnik commented on #30
Oh, and for reference: http://doc.rust-lang.org/book/error-handling.html

[2015-11-08 00:31] spacejam commented on #30
https://github.com/spacejam/rust-rocksdb/pull/32

[2015-11-14 22:16] winding-lines opened #34 "Example app with embedded rocksdb"
Thanks for putting together this library!

I've created an example app with an embedded rocksdb library:
https://github.com/winding-lines/rust-rocksdb-app

My intent is to be able to deploy the binary without requiring people to install rocksdb.

Let me know if you think this is useful :)

[2015-11-17 01:28] #30 closed

[2015-11-17 01:36] spacejam commented on #34
Awesome!  This sort of thing is definitely useful, as it simplifies installation for many people.  I didn't want to be too opinionated about how people got the rocksdb library itself, which is why I didn't do this for the rust-rocksdb lib itself (a super early version had something similar but I took it out at the suggestion of some folks who had done more rust wrapper development at the time), bu

[2015-11-17 01:36] #34 closed

[2015-11-17 01:50] winding-lines commented on #34
Great! Love your library so far, thanks for putting this together :-)

Marius
---

[2015-11-28 17:50] benjumanji opened #35 "Add support for checkpoints"
It would be a very nice feature to have!

[2015-12-05 13:38] benjumanji opened #36 "Segfaults when attempting to create column family that already exits"
System:

[code]

Code:

[code]

Where `intern` is a column family that exists in the database (but even if it didn't, reading the lib code, It should just error out at me when it tries to read the handle from `DB::cfs`).

Backtrace:

[code]

Any thoughts?

I am kind of new to gdb in general!

[2015-12-05 15:11] benjumanji commented on #36
Also: it's kind of an api wart that everything else takes handles (put_cf / get_cf), but this takes a string. I'd be happy to write a pr if it were likely to be accepted.

[2015-12-05 23:58] spacejam commented on #36
Hey @benjumanji !  Thanks for submitting this!

I'm unable to reproduce, using this code:
[code]
Would it be possible for you to give me more code?  I am also happy to give you some info on debugging rust with something like gdb or lldb (if you're using LVM, for instance on OSX):

[code]

I totally agree that iterator_cf needs to be brought in-line with the rest of the code, this must have fallen

[2015-12-06 00:00] spacejam commented on #36
I think open_cf should probably do everything I did in the code I showed you too, btw, but I haven't added that logic to make it more intuitive to use.  This is a huge wart, but not much code to fix.

[2015-12-06 00:03] spacejam commented on #36
By the way, if you're curious about what symbols you can use for setting breakpoints, you can run the `symbols <executable/lib>` command on OSX or `nm -D <executable/lib>` on linux.

[2015-12-07 22:10] benjumanji commented on #36
Hi!

Sorry, been a bit busy. I will try to make a minimal failing case to post back here.

[2015-12-07 22:50] benjumanji commented on #36
Ok. It's obviously something dumb that I was doing. I refactored my startup code to look more like yours, and behold the problem has gone away. Are you interested in what I was doing to make it segfault? I think I was abusing the Clone trait declared on DBCFHandle.

Otherwise happy to close, I still suck at rust.

[2015-12-07 23:30] spacejam commented on #36
@benjumanji I absolutely want to know what your change was, because to me this represents a sharp edge with this library that may need to be improved!

[2015-12-08 19:04] benjumanji commented on #36
Ok! I have it. It's not at all what I thought it was.

Behold!

works:

[code]

Does not work!

[code]

Here is a github project with three commits, the last two being the two snippets posted here.

https://github.com/benjumanji/minimal_rocksdb/commit/9845054c58190b4a99ab8ab7844f295352b79b79

basically this is me getting caught out with not having call by name in Scala or non-strictness in general

[2015-12-08 19:32] benjumanji opened #38 "Messy tests"
When a test fails, it's a bit hard to see what went wrong, you just get a panic for unwrapping a result.

Suggestion: split larger tests into smaller tests, explicitly check error conditions.

I am happy to have a crack at it if you think it's a good idea.

[2015-12-08 20:37] spacejam commented on #38
If this is something you would like to take on, I would gladly accept a PR!  There is one particular test in the column family test area that I'm not certain yet whether it's a bug in rocksdb or this library, but the result is that it fails to use column families in combination with merge operators.  I'd like to keep this failing test in there because it's definitely an issue somewhere, but I'm no

[2015-12-08 20:48] benjumanji commented on #38
Cool, I'll probably take a stab at it this weekend.

[2015-12-22 19:32] petehunt commented on #35
+1 :)

[2016-01-03 18:09] petehunt opened #40 "Should Writable take &mut references?"
I'm wondering if taking immutable references was intentional (since RocksDB is threadsafe) or unintentional (since you can have unintentional data races despite RocksDB being threadsafe).

I'm still a Rust newbie, but using things like `RwLock` with `rust-rocksdb` doesn't feel natural because everything takes an immutable self reference.

[2016-01-11 19:54] Lingling7 opened #41 "memory leaking-How can I see rocksdb statistics and check the memory?"
I captured rocksdb memery leaking. So I want to check rocksdb statistics and `cache_index_and_filter_blocks`in rust according to the link [https://github.com/facebook/rocksdb/issues/588](https://github.com/facebook/rocksdb/issues/588)

Is there anyone who can help me with this? Thanks!

[2016-01-28 03:55] siddontang opened #42 "snapshot doesn't support Get function"
Hi @spacejam

I find that snapshot has only iterator function, but I think get or getcf is very useful and important too.
If not, I have to use iterator to seek the key, call next(), and then check whether the return key matches.

Although I can wrap this in a function, iterator seek is still slower than using get in rocksdb.

[2016-01-28 03:59] siddontang opened #43 "why clone here?"
Hi @spacejam

I notice that you use clone https://github.com/spacejam/rust-rocksdb/blob/master/src/rocksdb.rs#L441,

But for iterator, https://github.com/spacejam/rust-rocksdb/blob/master/src/rocksdb.rs#L115 you don't use clone.

Why they are different? or is it necessary for clone?

Thank you.

[2016-01-31 20:42] spacejam commented on #43
This may be a case where `clone()` was used just to satisfy the compiler, as we later pass it to `rocksdb_readoptions_destroy` which consumes it.  They are different data structures, one being the FFI pointer and the other being the rust wrapper which implements Drop for it by properly destroying it.  The code in `get_cf` is generally pretty in-need of refactoring, so if this is something that bot

[2016-01-31 20:50] spacejam commented on #42
I agree this would be nice.  You can manually do this by calling `set_snapshot` on https://github.com/spacejam/rust-rocksdb/blob/master/src/rocksdb.rs#L777 and following what happens in https://github.com/spacejam/rust-rocksdb/blob/master/src/rocksdb.rs#L386 although I would maybe prefer that this be a method on the Snapshot struct or something.  If you can think of a nice way to do that while min

[2016-02-07 01:41] siddontang commented on #43
I guess we can create a read/write option field in DB and reuse it in get/write to avoid creating/destroying every time.

Btw, most of time, we need caching the read item. I think we should enable filling cache in read option for DB get in default or support another get function like cache_get.

[2016-02-07 01:48] siddontang commented on #42
We can extract a base get function in DB with a read option argument, so that Snapshot and DB can both use it with different read option.

Maybe we can do it together with #43 .

[2016-02-09 22:37] petevine opened #44 "32-bit build fails"
On `i686` there's a `mismatched types` failure:

[code]
Naturally, ARM is affected too.

[2016-02-23 14:46] General-Beck opened #47 "armv7 and arm [E0277] &[E0308]"
armv7 build log https://travis-ci.org/General-Beck/parity/jobs/111130224
and other variants see https://travis-ci.org/General-Beck/parity/builds

[2016-02-23 15:19] arkpar commented on #47
Try with the `db` branch, it has a whole different way of handling rocksdb dependency.

[2016-02-24 19:24] petevine commented on #47
Even though `rust-rocksdb` crate can be built on ARM (use the current master and manually cast the u32/u64 errors), you won't be able to build parity due to other crates still being broken.

The closest you can get is to override `nix` with its git master and then try fixing mio to use that.

Otherwise this was adressed in #45

[2016-02-27 05:18] petevine commented on #44
Fixed in https://github.com/ethcore/parity/pull/464

[2016-02-27 05:18] #44 closed

[2016-03-05 07:29] petevine commented on #47
Parity can now be [built on ARM](https://github.com/ethcore/parity/issues/266#issuecomment-192601685).

[2016-03-23 18:40] #42 closed

[2016-04-30 23:45] petevine opened #55 "32-bit support"
How about backporting the changes from [here?](https://github.com/arkpar/rust-rocksdb/commit/bf61c18ca933850f68b730ce13d592fba6e88039)

Currently `rust-rocksdb` doesn't build on 32-bit:

[code]

Using casts locally works OK but is not the correct cross-platform solution.

[2016-05-01 23:46] spacejam commented on #55
https://github.com/spacejam/rust-rocksdb/pull/57 I don't have much time to try this out on an ARM toolchain, let me know if there's anything else necessary!

[2016-05-01 23:49] spacejam commented on #55
above packaged into v0.3.3

[2016-05-01 23:56] petevine commented on #55
I've just tested it but it made no difference. I think it's probably related to `libc 0.1`. After force-switching to `0.2` the error looks like this:

[code]

[2016-05-01 23:59] petevine commented on #55
Yeah, this commit was probably necessary too:

https://github.com/arkpar/rust-rocksdb/commit/f20ac71abc573c1498f534adcfda8e22fd061533

[2016-05-17 07:32] spacejam commented on #55
(sorry, been visiting NYC and Iceland, just moved to Berlin, chaotic journey :) I bumped the libc version, and audited the use of usize vs u64 in the ffi code and found a couple mismatches. Does that improve the situation?

[2016-05-17 08:20] petevine commented on #55
Great, it builds fine now! Would you like to comment on this:

[code]

which probably is the reason all benchmarks are ignored in `cargo bench`. I'm using `librocksdb 4.5` built from source, so how is it possible it's missing the compression support?

[2016-05-17 08:32] petevine commented on #55
If I'm mistaken about snappy being bundled and built with rocksdb, sorry for the fuss!

[2016-05-17 08:38] spacejam commented on #55
Ahh yes, this is because the test is trying to use snappy compression.
Snappy is not required for rocksdb to build, however it is needed at
runtime if a db is opened with a configuration that specifies it should be
used. Maybe it uses dlopen or something at runtime, not positive off the
top of my head. I will probably have a chance to fix this in the next day
or two. Thanks for your patience with

[2016-05-17 11:52] petevine commented on #55
Right, I've rebuilt `librocksdb-4.5` against `libsnappy` and the first 7 tests pass now. One from the latter batch fails however; here's the trace:

[code]

[2016-05-17 12:37] spacejam commented on #55
This is a test that I should mark #[skip] as I think this may actually be a
limitation of librocksdb (or at least as far as I've been able to ascertain
from trying to do this with the c API from c) but I need to reconfirm and
possibly file an issue with rocksdb. This one completely boils down to
sloppiness on my part x_x
On May 17, 2016 1:52 PM, "petevine" <notifications@github.com> wrote:

[2016-05-17 13:06] petevine commented on #55
Cool, thanks!

[2016-05-17 13:06] #55 closed

[2016-06-22 23:05] Damienkatz opened #59 "Doesn't work for me on OS X"
iMac:noise damienkatz$ cargo install rocksdb --verbose
    Updating registry `https://github.com/rust-lang/crates.io-index`
       Fresh libc v0.2.12
   Compiling rocksdb v0.3.5
     Running `rustc /Users/damienkatz/.cargo/registry/src/github.com-88ac128001ac3a9a/rocksdb-0.3.5/src/main.rs --crate-name rocksdb --crate-type bin -C opt-level=3 --cfg feature=\"default\" --out-dir /Users/damienkatz/noi

[2016-06-22 23:05] Damienkatz commented on #59
I've got rocksdb installed via brew.

[2016-06-27 17:50] spacejam commented on #59
Hey @Damienkatz! rustc is not able to link this library against your copy of rocksdb. Does following the instructions in the readme for installing rocksdb work? You can tell rustc about other directories to look for shared libraries, as well. I'd maybe also try to compile one of the test rocksdb C programs, like https://github.com/facebook/rocksdb/blob/master/db/c_test.c to make sure your copy of

[2016-07-19 14:59] soumyasd opened #61 "Adding geospatial support"
Is it possible to add support for Spatial indexing from Rust.
http://rocksdb.org/blog/2039/spatial-indexing-in-rocksdb/
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/utilities/spatial_db.h

[2016-07-19 15:31] spacejam commented on #61
If the geospatial support is present in the C API then yes! Currently away
from a computer for a few hours but I may have time to investigate and add
them if possible sometime this week!

On Jul 19, 2016 10:59, "soumyasd" <notifications@github.com> wrote:

[2016-07-20 01:02] soumyasd commented on #61
@spacejam  - thanks. They are present in the C API as linked above.

[2016-07-22 02:24] efealatan opened #62 "Double Mem usage"
Hello,

How can we deal with this issue where the "char* rocksdb_get()" from the c interface uses
a copy thus consuming twice the memory.

    result = CopyString(tmp);

The link bellow shows it.

https://github.com/facebook/rocksdb/blob/master/db/c.cc#L719

thanks,

[2016-07-26 23:56] #62 closed

[2016-07-27 03:03] andygrove opened #63 "Can only store utf8 values using this crate?"
I can write arbitrary byte values to the rocksdb store using the put() method but when I call get() I get a DBVector for the result, and I can see it has a to_utf8() method but I can't see how to get the raw bytes (my data is not utf8).

I'm still new to Rust and I tried calling the deref() method too, but couldn't see how to get that to work.

Would appreciate some pointers.

[2016-07-27 03:12] andygrove commented on #63
perhaps if deref() could be made public?

[2016-07-31 21:09] spacejam commented on #63
Hey @andygrove! Traits in rust become usable when you import them, so by importing the Deref trait you should have access to the underlying slice. You can then call .to_owned() on it if you want a Vec<u8>, I believe.  Let me know if this isn't what you need, and we can improve the API!

[2016-07-31 21:17] spacejam commented on #61
@soumyasd unfortunately I don't see the spatial functions present in the C api, which is a bit more limited than the C++ one https://github.com/facebook/rocksdb/blob/master/include/rocksdb/c.h

Maybe open a PR or issue on the upstream rocksdb repo to make them available? For the time being, Rust is unable to call into C++ libraries.

[2016-07-31 21:17] #61 closed

[2016-07-31 21:18] #59 closed

[2016-08-03 09:08] timlyo opened #64 "Error Compiling the documentation"
I'm trying to build the documentation with `cargo doc` and I get the following:

`error: cannot document a package where a library and a binary have the same name. Consider renaming one or marking the target as 'doc = false'`

Adding

[code]

or

[code]

to `cargo.toml` fixes this issue and allows me to compile. Would it be worth adding some form of one of the two?

[2016-08-03 11:50] spacejam commented on #64
Feel free to nuke the binary completely! It has no purpose

On Aug 3, 2016 13:15, "Tim" <notifications@github.com> wrote:

[2016-08-03 12:31] timlyo commented on #64
Ok, submitted a pull request.

[2016-08-03 17:50] spacejam commented on #64
Thanks, @timlyo! merged

[2016-08-03 17:50] #64 closed

[2016-08-04 13:17] spacejam commented on #59
rocksdb is installed by default in /usr/local/lib, make sure that's in your $LD_LIBRARY_PATH!

[2016-08-23 20:09] spacejam commented on #63
Feel free to re-open if you have outstanding issues!

[2016-08-23 20:09] #63 closed

[2016-09-29 05:49] xenji opened #69 "[Question] Any chance bringing the forks together?"
Hey there!

First, thanks for making this all happen, it helps me a lot in my daily work!

Secondly: Is there a chance, that you/we can get all forks on one table and see how this can be beneficial for the project? For example: You and also https://github.com/ngaut/rust-rocksdb seem to have made pretty good progress, but the branches are too diverged and I lack of knowledge to merge them my self.

[2016-09-30 05:24] spacejam commented on #69
Yeah! ngaut's (being used for the tikv project) is the main one I would
like to pull in! Right now I'm backpacking in the Alps though and will be
away from a computer until the middle of October, but I can start to work
on this more when I get back! If you would like to work on this at all
before then just say so and I'll be able to review/merge from my phone at
some point every other day or so!

[2016-09-30 05:57] ngaut commented on #69
Hi, @xenji We would like to merge all of the changes to the repo. It's just there is a problem:
The new interfaces are not compatible with the previous version of rust-rocksdb.
And that could bother users who are already  used rust-rocksdb in their project.

[2016-09-30 08:28] spacejam commented on #69
I'm happy cutting a new major number for an api breaking new version

On Sep 30, 2016 07:57, "goroutine" <notifications@github.com> wrote:

[2016-09-30 08:39] xenji commented on #69
Seems like a plan. Good to have you all in the conversation!

Should we revive this discussion and dive deeper when @spacejam is back from the Alps? I think this needs more than just a bit of talking, doesn't it?

[2016-10-11 14:56] vmx commented on #69
@spacejam If you stick to Semantic Versioning you don't even need to cut a new major version [as long as you don't have a 1.0.0 release yet][1].

[1]: http://semver.org/#doesnt-this-discourage-rapid-development-and-fast-iteration

[2016-10-24 01:39] alexreg commented on #69
Any updates on all this?

[2016-10-25 09:56] kaedroho commented on #69
Hey Everyone,

I'd just like to say, I'm keen to help out with improving the general quality of this wrapper (such as writing API docs and improving the tests). I also need some more features of RocksDB for my project, which I'm happy to put some of my own time in to implementing.

It looks like some of this work may have already been done in the other forks though. I'm not sure what I should do a

[2016-10-25 12:36] ngaut commented on #69
Good job. @kaedroho
I think you may port all of the changes from my Repo which is currently used by TiKV project. We are still adding more and more features to that Repo. And i guess your porting process will break the current API.
Any thoughts? @spacejam

[2016-10-25 13:26] kaedroho commented on #69
Thanks @ngaut

Just been having a look. It appears the fork was made a while ago and both itself and upstream have had significant changes since then. This complicates things a little bit.

I reckon our best course of action is:

 - Review changlog of ngaut's branch, create a list of pieces of work that have been done on that branch (me)
 - Agree which items on that list should be ported and prior

[2016-10-25 13:39] ngaut commented on #69
SGTM. @kaedroho

[2016-10-25 14:52] kaedroho commented on #69
Here's the list of the pull requests that have been submitted against ngaut's fork:

Code cleanup

- Cleanup https://github.com/ngaut/rust-rocksdb/pull/2
- Reorganise code https://github.com/ngaut/rust-rocksdb/pull/6
- Tiny cleanup https://github.com/ngaut/rust-rocksdb/pull/20
- Refactor options https://github.com/ngaut/rust-rocksdb/pull/38
- Cleanup test directory https://github.com/ngaut/rust-ro

[2016-10-25 15:15] kaedroho commented on #69
Here's my opinions

# Code cleanup

There has been some major refactoring and cleanups in the fork, but upstream has been heavily changed too. I don't think it's worth, and may not even be feasible to port these.

If we must reproduce these cleanups, we should probably get them out of the way first so avoid merge conflicts in new changes.

# Static linking

I think it would be great to get this up

[2016-10-26 08:35] ngaut commented on #69
Thanks for your excellent work. @kaedroho

About Options:
Upper-bound iterator is actually one of the standard RocksDB API. See https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1447
And it's really useful in some scenarios.  I insist that we should keep it.

Others sounds great to me.

[2016-10-26 09:26] spacejam commented on #69
Thank you very much for stepping forward to help with this, @kaedroho!

I can imagine the upper bound being a nice way to help with things like multiplexing higher level lexicographic ranges of sharded databases, and getting higher performance than filtering results after the fact. I'm in favor of keeping it.

In general I'm in favor of making the merge path for @ngaut's changes as seamless as pos

[2016-10-26 13:36] kaedroho commented on #69
Ahh, my mistake! It looks like a bit of dead code got through on that pull request. See: https://github.com/ngaut/rust-rocksdb/pull/31/files#diff-15fa9749208206c5a07bbe0cc9aa11abR45

This new attribute is the reason why the ownership rules had to change, but it doesn't look like it was ever used anywhere, so I think it can just be removed. I'll just port the ``set_iterate_upper_bound`` method acro

[2016-10-26 13:49] kaedroho commented on #69
No problem! This wrapper has been really useful to me so far, glad I can help make it better!

I agree, the TiKV team have been making some really useful changes. But I think it's a shame that both TiKV and Ethcore have decided that they must maintain their own forks in isolation of each other. Both projects have implemented static linking (a huge bit of work) when only one of them really needed t

[2016-10-26 16:30] kaedroho commented on #69
Sorry this took a while (had to leave my desk for a while). Here's my quick analysis of how the two forks have implemented static linking.

**tl;dr** The only notable difference between the two is how they both build RocksDB. I much prefer the approach taken in ethcore as it will be much easier to support different platforms with it. It also doesn't do any downloads during compilation.

**What the

[2016-10-26 17:40] BusyJay commented on #69
Actually we thought about using git submodule and gcc-rs at first. But it seems ugly to me to track all the .cc files again which was done in the Makefile already. And git-submodule is too slow for me to clone a new repository from the beginning.

I think almost all the linux distribution and OS X have bash support. Windows can use PowerShell get the job done, though It's not implemented yet in th

[2016-10-26 17:40] BusyJay commented on #69
Actually we thought about using git submodule and gcc-rs at first. But it seems ugly to me to track all the .cc files again which was done in the Makefile already. And git-submodule is too slow for me to clone a new repository from the beginning.

I think almost all the linux distribution and OS X have bash support. Windows can use PowerShell get the job done, though It's not implemented yet in th

[2016-10-26 21:14] kaedroho commented on #69
Thanks for chiming in @BusyJay!

Ahh, good point. Having to pull down a 6000-commit history when you only need the state at one time is a bit heavy. This won't be a problem when rust-rocksdb is installed from crates.io though as the checked out submodules will be bundled in the crate at the point of publishing it.

I agree, but it's the lesser of two evils in my opinion

I'll elaborate on this a b

[2016-10-27 16:57] kaedroho opened #79 "Options.set_filter_deletes calls non-existant RocksDB function"
``Options.set_filter_deletes`` calls a function in the ffi bindings called ``rocksdb_options_set_filter_deletes``. However, no function of that name is exported by RocksDB itself, leading to a link error (when using static linking).

https://github.com/spacejam/rust-rocksdb/blob/c0e0331d0cb1f652c541d35cebd66de00df26992/src/rocksdb_options.rs#L539
https://github.com/facebook/rocksdb/blob/a10e8a056d

[2016-10-28 11:19] kaedroho commented on #79
Looks like it was deprecated in 4.10 https://github.com/facebook/rocksdb/blob/master/HISTORY.md#4100-752016

It appears the implementation was removed immediately: https://github.com/facebook/rocksdb/commit/7b79238b655ef6c7ef05c8052c3ded9981c4b54e

[2016-10-28 16:43] alexreg commented on #69
Would you consider a PR that changed the FFI module to something like https://github.com/alexreg/rocksdb-sys/blob/master/src/lib.rs? This is up-to-date with RocksDB (v4.11.2), and stays faithful to the C API – no renamings of types, and arguably more complete tests (see https://github.com/alexreg/rocksdb-sys/blob/master/tests/c_test.rs in the same repo, since they've been ported from the C tests).

[2016-10-28 18:15] kaedroho commented on #69
@alexreg I've forked the FFI module into a separate -sys crate in my "implement static linking" PR (https://github.com/spacejam/rust-rocksdb/pull/80) submitted earlier today. Hopefully this will be looked at soon!

Those FFI bindings are much more complete than what we currently have (implementing 274 library functions vs 116 in this repo), and the test suite is a massive bonus. I think pulling th

[2016-10-28 20:38] #79 closed

[2016-10-29 00:19] alexreg commented on #69
@kaedroho Thanks, that's good to know. Maybe if your PR gets accepted soon, and @spacejam is happy with this proposed reworking of the FFI bindings, then I could have a go implementing it on top of the latest changes.

[2016-11-02 20:36] kaedroho opened #85 "[Windows] Unicode path issue"
On Windows, creating a database with unicode characters in the filename creates two directories: an empty one with the correct name, and one with the actual database in it but with a mangled name.

For example:
[code]

Creates two folders:
 - ``_rust_rocksdb_u͔n͈̰̎i̙̮͚̦c͚̉o̼̩̰͗d͔̆̓ͥé`` (empty)
 - ``_rust_rocksdb_uÍ”nÌŽÍˆÌ°iÌ™Ì®ÍšÌ¦cÌ‰ÍšoÍ—Ì¼Ì©Ì°dÌ†ÍƒÍ¥Í”eÌ``  (with data inside it)

Linux works as

[2016-11-02 20:40] kaedroho commented on #85
https://github.com/spacejam/rust-rocksdb/blob/cff724a070b0dcf3b0fbf0a6aad32304973b7397/src/rocksdb.rs#L318-L336

Looks like the issue is the open method passes the UTF-8 string into RocksDB, Windows uses UTF-16. It's converting it into a path to create the folder before creating the database (hence the correctly named empty folder).

I'll get to work on a fix.

[2016-11-02 21:41] kaedroho commented on #85
It looks like RocksDB uses ANSI encoded strings for filenames in Windows so unicode paths aren't possible at the moment. so I'll close this for now.

[2016-11-02 21:41] #85 closed

[2016-11-02 22:54] spacejam commented on #85
Thanks for the heads up!

[2016-11-03 17:44] alexreg commented on #69
@kaedroho How did you get librocksdb to link (statically) against libjemalloc by the way? Specifically, the version of libjemalloc.a that Rust uses.

[2016-11-04 16:06] xenji commented on #69
Peeps, that is how open source collaboration should work! Thank you, you are awesome! :D

[2016-11-10 22:24] alexreg opened #91 "Are `&mut self` methods necessary?"
Since all these methods don't seem to be mutating any Rust data in `self`, I think we can get away with just `&self` parameters. This is advantageous when it comes to using a `DB` value in a multithreaded environment, since you can then get proper read-write concurrency without a `Mutex`/`RwLock`.

[2016-11-13 12:01] spacejam commented on #91
I'm in favor of making any of the `&mut self` methods `&self` if their underlying implementations are thread-safe. From the rocksdb docs:
[code]
Scanning the source code, I actually need to make a few things that are `&self` `&mut self`! (WriteBatch, DBIterator::valid, maybe some others) This may already be causing bugs for users of this library! I'll get on this right now and cut a new release, a

[2016-11-13 12:02] spacejam commented on #91
@ngaut heads up, you may have addressed this already in your code but this is a safety issue you should be aware of if not.

[2016-11-13 12:33] kaedroho commented on #91
Would you consider making a ``stable/0.4.x`` branch, based on 0.4.2, which we can cherry-pick safety fixes like this to and release as 0.4.3 (and so on).

0.5 currently has some API breakages so I think it's worth including this fix in both a patch for 0.4.x as well as the forthcoming 0.5 release.

[2016-11-13 12:36] spacejam commented on #91
@kaedroho absolutely! The release I cut today will be a patch for 0.4, and it will also be in master for our upcoming 0.5 release.

[2016-11-13 13:00] alexreg commented on #91
Indeed, only the underlying native type for `DB` is thread-safe – so all its methods can be `&self`, but for the others like `WriteBatch`, etc., they’ll need `&mut self` methods where appropriate.

Thanks for sorting this out.

[2016-11-13 20:05] spacejam commented on #91
cut v0.4.2 that uses a RwLock to preserve the API, and in the 0.5.0 branch remove Writeable and have operations on a WriteBatch be `&mut self`.

https://github.com/spacejam/rust-rocksdb/releases/tag/v0.4.2

https://github.com/spacejam/rust-rocksdb/pull/93

[2016-11-13 20:05] #91 closed

[2016-11-15 13:44] hh9527 opened #96 "[windows] Can not handle error message when OS is not in utf8"
In my Windows PC (Chinese Version), when RocksDB get a failure with OS message, it will be bytes encoded in GBK. so str::from_utf8 will fail.

[code]

which is caused by https://github.com/spacejam/rust-rocksdb/blob/master/src/ffi_util.rs#L22

A workground is:
change

[code]

to

[code]

[2016-11-20 10:37] #96 closed

[2016-11-20 11:03] spacejam commented on #69
I'd like to continue to pull in changes over time from the various forks, so this is by no means over, but for now we've wrapped up a nice big chunk.

Today 0.5.0 will be released, which includes the great work you've all done in this issue, and others!

I've been pleasantly surprised by the amount of contribution that this issue has stirred up, and blown away by the amount of effort put in by @ka

[2016-11-20 11:03] #69 closed

[2016-11-20 13:18] alexreg commented on #69
Glad to help. Thanks likewise for maintaining this project so diligently. :-)

[2016-11-25 17:07] #43 closed

[2016-11-25 17:07] #20 closed

[2016-11-25 17:12] spacejam commented on #40
Writable operations on the DB object itself was intentionally &self, rather than &mut self, because RocksDB handled the safety under the covers.  However, I've removed Writable because for things like WriteBatch, RocksDB does not mediate concurrent access patterns.

[2016-11-25 17:12] #40 closed

[2016-11-25 17:14] spacejam commented on #41
I like to use valgrind for things like this! Let me know if you'd like any more info!
`valgrind --leak-check=full --show-reachable=yes /path/to/executable/that/exercises/leak/and/exits`

[2016-11-25 17:14] #41 closed

[2016-12-18 15:38] alexreg opened #103 "Using same jemalloc as Rust"
There may now exist an opportunity to use the same jemalloc as Rust, thanks to https://github.com/jemalloc/jemalloc/commit/2319152d9f5d9b33eebc36a50ccf4239f31c1ad9. This is just a heads up. @kaedroho, you may be interested. I haven't checked your custom compilation code yet, but I presume it uses the default system allocator when building, since having two versions of jemalloc creates big problems

[2016-12-27 05:25] Damienkatz opened #104 "Cannot use snapshot DbIterators across threads"
Hit this today, attempting to query database and find matching elements using a snapshot DbIterator on one thread, then use DbIterator from same snapshot on another thread. Because of the lifetime requirements it's not possible.

Potential solution: use std::sync::Arc to hold references to snapshot or inner members. Each DbIterator from a single snapshot will also hold a the same arc references.

[2017-02-04 13:08] kaedroho opened #108 "Make ffi public?"
I'd like to propose re-exporting the FFI bindings through the ``rocksdb`` crate to allow users access the underlying bindings without having to import the ``rocksdb-sys`` crate directly (this could cause version mismatches when the ``rocksdb`` crate is updated later. It's not hard to resolve, but would be ideal for devlopers to no have to think about this).

 - Make the ffi module public (I, obvio

[2017-02-05 21:13] spacejam commented on #108
I'm in favor of exposing `rocksdb::ffi` as public. Historically I've hit a number of annoying issues with wrapper libraries that excessively hide functionality. I'm also in favor of adding an unsafe, well-documented no-copy iterator method for those who would benefit from the use case.

[2017-02-12 23:01] alexreg commented on #108
Surely the solution here is simply to import the sys crate directly, if you want the ffi functionality? That sounds much cleaner, to me.

[2017-02-16 13:04] arthurprs commented on #103
I looked at the repo but it wasn't clear to me. What does the current HEAD use? Is it the system allocator or another jemalloc?

[2017-02-18 03:11] alexreg commented on #103
Honestly, I couldn't figure out either. Maybe @kaedroho could clear this up...

[2017-03-02 02:03] rschmukler opened #113 "ReadOptions are not exposed?"
New to rust so apologies if this is a misfile, but it seems that `ReadOptions` only exist in `db.rs` and aren't exposed. The docs also don't reference the type (ie. http://docs.rs).

Sorry for the lack of PR - like I said, I'm not quite sure on the preferred fix / if this issue is valid.

[2017-03-11 04:21] nitingupta910 opened #115 "EXC_BAD_ACCESS with iterator"
I seem to be hitting a weird corner case: I created a DB with 10000 keys and then trying to iterate over them. Everything works when I create iterator directly in a function, however when I create a wrapper which returns DBIterator, I get EXC_BAD_ACCESS when trying to dump the db with returned iterator.

Here's a minimal demo which reproduces the issue:

`https://github.com/nitingupta910/iter_demo

[2017-03-11 05:21] nitingupta910 commented on #115
Fixed the issue.

For reference, I was passing ownership of DB object to wrapper function `make_iter()` instead of reference. This was causing DB to be closed after wrapper returns, rendering the iterator invalid!

[2017-03-11 05:21] #115 closed

[2017-03-11 17:41] spacejam commented on #115
hmmm maybe there's a way we could tie lifetimes into an iterator to constrain lifetimes, avoiding this problem for users in the future

[2017-03-12 10:35] kaedroho opened #116 "Version 0.6 not git-tagged"
Just a heads up. Looks like we're missing a git tag for version 0.6 which I think should be pointed at commit 2a29b0ae5f7e44b3d205ff4352aebf94a92cefcf.

[2017-03-21 15:52] spacejam commented on #113
Thanks for adding this!

[2017-03-21 15:52] #113 closed

[2017-06-05 15:05] kaedroho commented on #108
I'd like to make sure I'm always using a compatible -sys crate with the rocksdb crate. Problem is that if I use the -sys crate directly i'd have to specify a direct dependency to it in the Cargo.toml for my project so have to make sure it's a compatible version when updating rocksdb (which is a minor annoyance).

[2017-06-05 15:15] alexreg commented on #108
Hmm, fair point, I suppose... is this convention though? I don't see any other crates doing this.

[2017-06-08 09:12] spacejam commented on #116
done

[2017-06-08 09:12] #116 closed

[2017-06-10 13:13] yeastplume opened #122 "Build fails on gcc 7+"
It seems librocksdb-sys v0.4.1 has issues compiling its rocksdb dependency on gcc7+ with issues such as the following:
[code]
It's to be directly related to this issue, which was fixed within rocksdb:

 #https://github.com/facebook/rocksdb/issues/1492

Would suggest the rocksdb dependency needs to be updated to a newer one.

[2017-06-19 09:02] kaedroho opened #124 "Test FFI bindings with ctest"
Might be useful to implement this for automatically testing the FFI bindings: https://github.com/alexcrichton/ctest

[2017-07-11 18:26] modalduality commented on #122
In light of this, are there more specific instructions for linking together a RocksDB compilation and rust-rocksdb?

[2017-07-18 10:04] spacejam commented on #124
This looks cool! Adding this would be great

[2017-07-18 10:26] spacejam opened #128 "investigate servo/rust-bindgen usage"
It is error-prone to hand-maintain a mapping to the underlying rocksdb library. We may want to switch over to using https://github.com/servo/rust-bindgen (just against the rocksdb c API initially) in `librocksdb-sys`'s `build.rs`.

[2017-07-18 10:29] spacejam commented on #124
What are your thoughts on https://github.com/spacejam/rust-rocksdb/issues/128 ? While it doesn't completely get rid of the need to test, since the generator could always be broken, it would be nice if we could automatically generate the FFI bindings to keep up with rocksdb's c API in a less error-prone way.

[2017-08-07 23:28] r8d8 opened #132 "Failed build on Windows platform"
I am trying to build my project that uses rocksdb againt Windows platform, but getting build errors during compilation of rocksdb.
Here is [build log](https://github.com/spacejam/rust-rocksdb/files/1206432/log.txt)

[2017-08-08 16:25] dulanov commented on #132
[code]

[2017-08-27 11:43] benoitc opened #134 "add support for delete_range"
would be cool to have the support for this feature to be able to delete in a range directly instead of launching an iterator then delete.

[2017-08-27 13:21] benoitc opened #135 "Expose API to restore database from backups"
the backup module can backup and has restore options, but how do we backup?

[2017-08-29 14:36] spacejam opened #137 "investigate speeding up builds by short-circuiting librocksdb-sys c++ compilation when unchanged"

[2017-08-29 14:40] spacejam opened #138 "system rocksdb feature flag"
It's good to have `librocksdb-sys` as the default, but some folks require fast updates of the underlying rocksdb library because production is breaking RIGHT NOW and don't have time to wait on us to bump. we should make life easier for these stressed out folks with a feature flag that skips `librocksdb-sys`

They may also have a rocksdb version that is packaged on their systems and managed by an i

[2017-09-18 13:18] vmx commented on #122
@spacejam This bug can be closed. I compiled master on my system where GCC 7 is the default. All tests passed.

[2017-09-18 16:26] spacejam commented on #122
:+1:

[2017-09-18 16:26] #122 closed

[2017-09-18 16:26] spacejam commented on #122
If this issue still impacts anyone using a recent version, please open a new issue!

[2017-10-19 17:41] rrichardson commented on #108
There are a couple cases where this is done, nix comes to mind.  We use it at work for re-exporting types.  E.g. the core of our utility libraries are codegen'd from protobufs or whatever, and the easiest way to stay in sync is have the utility libraries re-export the codegen'd functionality.

[2017-10-19 18:32] rrichardson opened #144 "TxnDB : Transactions via rocksdb_transaction_t"
Transaction functionality is exposed in rocksdb via a parallel implementation of the `rocksdb_t` called `rocksdb_transaction_t`  .  Now that we have bindgen (#143) we get access to it for "free".

First, for brevity, I propose a new acronym that is the RocksDB parallel of CRUD, I call it
PIGMED , that's Put Iterate MErge Delete.  Not catchy, I know.

The question is how to best expose the Transact

[2017-10-19 18:44] rrichardson opened #145 "streamlining DB api with regard to CFs"
This is a bit of a follow-on from #144  but is different enough in scope

The native RocksDB column family API is a bit clunky and seems like an after thought.  If users of rust-rocksdb prefer it this way, then that's fine, you can stop reading now.

If you're still with me,  I am thinking that we can remove all PIGMED operations and remove the *_cf.  The way we do this is make ColumnFamily the so

[2017-10-19 19:30] rrichardson commented on #137
This is a good idea,  until then, people might experience a much nicer build experience after https://github.com/alexcrichton/cc-rs/pull/261

[2017-10-19 21:38] vmx commented on #145
I like the idea of making the Column Family stuff easier to use. Though I don't have good ideas how to do it :)

How would `DB::open()` know about the existing Column Families? In RocksDB you need to pass in their name and options.

[2017-10-19 21:50] rrichardson commented on #145
There is a  DB::list_cf  (rocksdb_list_column_families in the C API) function which just takes a path and lists all of the column families.  It actually represents one of my annoyances with the original API.   There is a function to enumerate column families, but when you create a DB object, you have to explicitly enumerate the CFs.  I can kind of see why.. but I still don't like it.

In rocks-cac

[2017-10-19 22:10] vmx commented on #145
The problem is that with `ListColumnFamilies()` you'll only get the names, but not the options. So your application needs to keep the options somewhere and then it's easy to store the name with it as well.

[2017-10-19 22:40] rrichardson commented on #145
I see your point.

It seems to me that the problem is that you need to supply the options twice.  Persisting them to disk with the CF seems like the only safe thing to do.

[2017-10-19 22:53] vmx commented on #145
I think the original post of issue https://github.com/facebook/rocksdb/issues/1055 sums up the problem with RocksDBs Column Family API pretty nicely.

[2017-10-19 23:32] rrichardson commented on #145
What I get from that is their excuse for why they designed their API so poorly (needing to associate options with CFs)  should actually be the exact reason to design an API that is more ergonomic and also foolproof.

[2017-10-19 23:52] vmx commented on #145
While reading the RocksDB source I found: https://github.com/facebook/rocksdb/wiki/RocksDB-Options-File. Though one problem surely are the "unsupported options".

[2017-10-20 21:24] vmx commented on #145
As there is the `create_missing_column_families` option how about an API like this:

[code]

[2017-10-21 00:33] rrichardson commented on #145
That looks good to me.   I think that'd be an excellent place to start. I'll have a look at #136 as well.

After that,
We might want to experiment with paramaterizing the ColumnFamily by key and value types.
The hard part is that the types would need to be  Deserialize<'a> + Serialize which is a bit of a pain.
The neat thing is that we could associate MergeOperators with the CFs and ensure that th

[2017-10-22 19:32] vmx commented on #145
@rrichardson I don't understand what you mean with "paramaterizing the ColumnFamily by key and value types".

[2017-10-22 20:20] rrichardson commented on #145
something like :
[code]

so we could have type safe serialization and deserialization as well as merging that could support a specific set of operations (sets, counters, etc)

[2017-10-22 20:28] vmx commented on #145
Oh, I see. That would be pretty cool.

[2017-10-29 23:26] #128 closed

[2017-11-04 04:07] lght opened #148 "[BUG] RocksDB panics on rocksdb::InternalKeyComparator::Compare"
I was working on a project that relies on rust-rocksdb, and got a core dump while the program was compacting the internal rocksdb.

Below is a core dump, and some basic analysis of the bug. I'm still working on figuring this bug out, but the bug seems to be coming from the underlying C++ library.

Line #6 in the core dump is the relevant call before the crash.

Core Dump:
[code]

Key line from the

[2017-11-07 12:51] andrenth opened #149 "Tailing iterator"
Hi

Does rust-rocksdb support RocksDB's [Tailing iterator](https://github.com/facebook/rocksdb/wiki/Tailing-Iterator)?

Thanks.

[2017-12-28 13:08] #132 closed

[2018-01-03 16:37] RCasatta opened #154 "Using increase_parallelism break the build"
I wanted to try `opts.increase_parallelism(4)`, in doing so I got this error on a Mac platform:

[code]

[2018-01-15 14:49] gagarin55 opened #155 "Can't use on Windows"
I'm trying to compile empty bin project with this crate as dependency on Windows. I'm getting such error:
[code]

[2018-01-17 15:12] r8d8 opened #156 "Can't build for Windows OS"
[log.txt](https://github.com/spacejam/rust-rocksdb/files/1639476/log.txt)
Still can't build on Windows  platform.
It would be nice to have CI builds on AppVeyor.
Related to #132

Note: attached log file from AppVeyor build.

[2018-01-19 15:29] rohitjoshi opened #158 "Support for Persistent Cache"
RocksDB supports persistent cache.  Does this crate support that?

https://github.com/facebook/rocksdb/blob/master/include/rocksdb/persistent_cache.h

https://github.com/facebook/rocksdb/wiki/Persistent-Read-Cache

[2018-01-22 12:02] spacejam commented on #155
Hey, вася, thanks for opening this issue. Were you able to make any progress by setting that `LIBCLANG_PATH` environment variable? My access to a windows machine is a bit limited at the moment, but I would like to address this issue for windows users.

[2018-01-24 17:48] gagarin55 commented on #155
Do I need install this tool http://releases.llvm.org/download.html to build rust-rocksdb ?

[2018-01-26 19:00] gagarin55 commented on #155
After installing CLang I've got another error:
[code]

[2018-01-30 14:34] RCasatta opened #159 "Compile error on Mac 10.13.3"
While building rocksdb 0.8.2 dependency on Mac 10.13.3 the process exit with this error:

[code]

The process go smooth on Mac OS X 10.12.6 and on Ubuntu 16.04

The error can be reproduced on target platform by a bin project with rocksdb as the only dependency and this:
[code]

[2018-02-10 18:22] spacejam opened #162 "prefix iterator broken"

[2018-02-10 19:13] spacejam commented on #162
looks like we need to support slice transforms, and put the database into prefix mode for this to work, as per https://github.com/facebook/rocksdb/wiki/Iterator#prefix-iterating

[2018-02-10 20:11] spacejam commented on #162
writing #28 now to get this functional

[2018-02-10 21:53] #28 closed

[2018-02-10 21:53] #162 closed

[2018-02-12 21:24] PiedmontStream opened #164 "Link error on Windows"
rocksdb link error.
add `port/win/win_thread.cc` into the file `rust-rocksdb/librocksdb-sys/rocksdb_lib_sources.txt` can fix it.
the methods of `rocksdb::port::WindowsThread` were lost on windows.

[2018-02-13 06:52] PiedmontStream commented on #155
append  `port/win/win_thread.cc`  to `rust-rocksdb/librocksdb-sys/rocksdb_lib_sources.txt`  like:
![default](https://user-images.githubusercontent.com/12751278/36136857-62d7f21a-10cd-11e8-9c05-faa772b8a50b.png)
see #164

[2018-02-16 15:24] RCasatta commented on #159
I did another test with v0.9.1 but I got the same error

[2018-02-20 23:28] ongardie-ebay opened #168 "tests segfault on OS X"
I ran this on f784fc26 on macOS Sierra (10.12.6).

[code]

[2018-03-07 10:25] NEGIhere opened #171 "Can't compile Rust project on Windows"
I'm getting error, when compiling rust project with 'rockdb' crate.
[log](https://1drv.ms/t/s!Akamt5iq7s6onCElTSpEmoAKvntx)

[2018-03-08 13:27] NEGIhere commented on #171
Solved by removing all `posix` libs and adding `port/win/port_win.cc port/win/env_win.cc port/win/env_default.cc port/win/win_logger.cc port/win/win_thread.cc port/win/io_win.cc port/win/xpress_win.cc` at the end of the `librocksdb-sys\rocksdb_lib_sources.txt` file.

[2018-03-08 13:27] #171 closed

[2018-03-16 18:52] pyskell commented on #155
A temporary fix to this is to install LLVM for Windows, I used version 5.0.1.

http://releases.llvm.org/download.html

[2018-03-16 22:34] guidiego opened #172 "Base documentation"
I'm a beginner in rust, I think that is a good ideia add a basic documentation of how use the API of `rust-rocksdb` <3

Thx u guys!

[2018-03-17 07:36] PiedmontStream commented on #156
see #164
append "port/win/win_thread.cc" to "rust-rocksdb/librocksdb-sys/rocksdb_lib_sources.txt"
![36136857-62d7f21a-10cd-11e8-9c05-faa772b8a50b](https://user-images.githubusercontent.com/12751278/37552913-b997278a-29f8-11e8-804d-66e18ed11a45.png)

it seems that port/win/win_thread.cc not complied on windows

[2018-03-20 21:04] sfackler opened #173 "Why are DbRawIterator::key_inner and DbRawIterator::value_inner unsafe?"
Their documentation just mentions not reusing the buffer after moving the cursor, but the compiler will prevent that since the return value borrows the iterator.

[2018-03-22 03:57] gagarin55 commented on #168
I have same results

[2018-03-23 10:44] gagarin55 commented on #164
@spacejam Could you please apply this fix and release new version of librocksdb-sys crate

[2018-03-27 05:39] cetra3 opened #174 "RocksDB does not build on musl"
It would be nice if rust-rocksdb could build on `x86_64-unknown-linux-musl`.

I get the following error when using the [rust musl docker](https://github.com/emk/rust-musl-builder):

[code]

[2018-03-30 13:06] DarkEld3r opened #175 "DB::open_cf signature"
It is inconvenient to use `open_cf` function with the result of `list_cf`. It requires transforming `Vec<String>` to `&[&str]`. The signature can be made more generic the following way:
[code]

[2018-03-30 13:14] DarkEld3r opened #177 "Database opening ergonomics"
Currently, if you use column families you must write something like that:
[code]
I suppose this logic (obtaining the list of column families and passing it to the `open_cf`) can be hidden inside of an additional `DB` constructor.

[2018-03-31 04:27] qinix opened #178 "Support for transaction and GetForUpdate?"
https://github.com/facebook/rocksdb/wiki/Transactions#read-write-conflict-detection

[2018-06-24 21:10] mcdallas opened #190 "build error on WSL (Ubuntu 18.04)"
This is with rust 1.27 on commit 701669d0763a0fb30708d36b1af2e152bda1e63d

[2018-07-03 15:53] katyo opened #191 "bindgen dependency outdated"
Please upgrade bindgen dependency in the `librocksdb-native`.

I failed to compile my app:

[code]

[2018-07-12 20:00] jonhoo commented on #191
This is currently holding back a bunch of other crate versions transitively. The older bindgen version that is currently in use depends on things like the deprecated [`syntex` crate](https://github.com/serde-deprecated/syntex), older versions of `regex`, etc.

[2018-07-13 18:34] jonhoo commented on #191
From this commit in a fork, it looks like moving to the newest `bindgen` shouldn't be too much pain: https://github.com/ekmartin/rust-rocksdb/commit/2e934879ff9d106ca8a0dd8cf2d677064fe1a49f

[2018-07-14 13:10] ekmartin commented on #191
@spacejam: Could you take a quick look at #192 when you have time?

[2018-07-17 12:55] #191 closed

[2018-07-31 08:12] rubencaro commented on #174
On Fedora28 I got the same error message and just had to install the `clang-devel` package, which contains the missing `stdarg.h` (and others...).

[2018-08-01 00:28] cetra3 commented on #174
Ok with the [current master](https://github.com/spacejam/rust-rocksdb/commit/0475bbeaeaf42a7d7ce6e8a74bf6b0547f0b6d4f), I can at least compile the thing, but have to make dodgy workarounds as per [this issue](https://github.com/rust-lang/cargo/issues/3359) by adding a `musl-g++` symlink to `g++` to the PATH.

Steps for posterity:

[code]

I'm not sure why it's looking for `musl-g++` ?

[2018-08-08 01:20] cswinter opened #203 "Missing `ReadOptions.readahead_size`"
I like to "tune" my RocksDB instances by changing random settings that end up having no impact on performance whatsoever. `ReadOptions.readahead_size` will be the one though so it would be great to have.

[2018-08-08 16:57] cswinter commented on #203
Actually, is there any way at all to pass `ReadOptions` when creating an iterator? All the methods I've been able to find seem to be private.

[2018-08-21 13:43] RCasatta commented on #159
I tested on a friend PC and it works fine, it looks an issue of my system

[2018-08-21 13:43] #159 closed

[2018-08-22 11:44] Jake-Shadle commented on #174
@rubencaro Thanks for the tip, had this exact problem even though I had multiple `stdarg.h` version already.

@cetra3 It's looking for that because of the way cc-rs creates executable names, as noted here, it's "dodgy" https://github.com/alexcrichton/cc-rs/issues/105

[2018-08-22 23:28] cetra3 commented on #174
I had a look at the cc-rs code but can't really find the spot that it's resolving to `musl-g++`.  I'm hoping that someone smarter than me knows how to adjust it!

[2018-08-23 08:35] Jake-Shadle commented on #174
It's this section here https://github.com/alexcrichton/cc-rs/blob/ad2ce008ec089a326bbebc7973225691a2816845/src/lib.rs#L1681-L1692

[2018-08-27 08:04] aleksuss opened #204 "Move the project to an organization"
@spacejam, @ekmartin

Thank you for putting together and open-sourcing Rust RocksDB project. We at Exonum have been using it for more than a year and are interested in its further development.

Our team is grateful to you for reviewing and integrating our patches so far, however, it seems to us the project has ceased to be your top priority recently. For this reason, I suggest moving it under a ne

[2018-08-29 14:25] dineshmickey opened #206 "While installing Rustic Search"
Im getting the Following Error

  Compiling librocksdb-sys v5.11.3
error: failed to run custom build command for `librocksdb-sys v5.11.3`
process didn't exit successfully: `/home/rusticsearch/target/debug/build/librocksdb-sys-48ca55f7970a0b0f/build-script-build` (exit code: 101)
--- stdout
cargo:rerun-if-changed=build.rs
cargo:rerun-if-changed=rocksdb/
cargo:rerun-if-changed=snappy/

--- stderr
th

[2018-09-03 05:53] cksac opened #208 "Support for SstFileWriter"
[Creating-and-Ingesting-SST-files](https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files)

[2018-09-14 09:17] Kais-DkM commented on #204
@spacejam @aleksuss Is there any progress on this?

[2018-09-14 18:27] derekdreery commented on #204
I'd consider reaching out to the rust/crates.io team about forking the
project under an organization and changing the crates.io package.

On Fri, Sep 14, 2018 at 10:25 AM Oleksandr Anyshchenko <
notifications@github.com> wrote:

[2018-09-17 08:36] spacejam commented on #204
I'm in favor of transferring ownership of the root repo and crate to the rust-rocksdb org, which I just created. This should have been done a long time ago to avoid the fragmentation that has occurred.

This also brings up the question of whether it is possible to combine forces with some of the organizations that have forked this project and continue to invest significant resources into pushing i

[2018-09-17 08:43] spacejam commented on #204
Also @paritytech / @andresilva let me know if this is something you folks have interest in participating in!

[2018-09-19 07:49] aleksuss commented on #204
@spacejam thanks for your response. I propose next flow for contributing:

- Any change must go as a pull request.
- Any PR must have at least two approvals from the team members (ideally, from people with expertise in various things).

For anything non-trivial, e.g., breaking changes, new features, I'd add:
- A maintainer must leave a two working days window for other team members to be able to r

[2018-09-19 18:29] ongardie-ebay commented on #204
Just a quick response since @spacejam mentioned me: I haven't been contributing lately simply because I've been stuck over in Go-land. Of course, it'd be great to see this project actively maintained.

[2018-09-20 08:00] siddontang commented on #204
@spacejam

In TiKV, we have changed a lot from the origin repo, and I think it is not suitable to contribute our change now.

But we are very happy to offer help if possible.

[2018-09-21 08:57] kaedroho commented on #204
Had no problems with your response rate :). Just haven't worked on rusticsearch in a while. I'd be happy to help out with maintaining this though!

Given that nobody is actually paid to review PRs for this project, getting just one approval will take time in most cases (see current PR list). And I think for most changes one approval is enough, but I agree that for non-trival stuff (such as major A

[2018-09-23 15:32] spacejam commented on #204
I agree with @kaedroho that 2 days is a very short turnaround time. I think there are some times when a week would also be hard to find time for a really major review, and 2 weeks is probably more realistic given people may be on vacation or simply having a busy week. Personally, I'm an excruciatingly slow reader of code, and I can easily spend an hour re-learning the parts of the codebase that a

[2018-10-02 09:17] spacejam commented on #204
As we draw near to the 2 week mark for the above comment, I'd like to invite more feedback on the proposed process, although I think at this point it's fine to start acting on it. I've sent @aleksuss an invite to this org, and I've created a team with permission to publish to crates.io: `crate-publishers`

If anyone else would like to opt-into maintainership responsibilities, please either leave a

[2018-10-09 23:18] iSynaptic commented on #164
This should be closed.

[2018-10-09 23:18] iSynaptic commented on #156
This should be closed.

[2018-10-09 23:19] iSynaptic commented on #155
This should be closed.

[2018-10-09 23:20] iSynaptic commented on #206
Can you provide some more information? What OS? What version of Rust? Is clang installed?

[2018-10-09 23:41] r8d8 commented on #156
@iSynaptic, I would wait till Appveyour CI builds will be added.

[2018-10-11 02:18] #164 closed

[2018-10-12 05:02] Chengchcc opened #210 "Getting "warning: redundant linker flag specified for library `stdc++`"
When building librocksdb-sys v5.14.2， there is a warning about redundant linker flag. ubuntu18.04

[2018-10-13 07:06] spacejam commented on #204
@iSynaptic yeah! I'll create a proposal PR now that formalizes this

[2018-10-13 07:06] #204 closed

[2018-10-16 00:06] prasannavl commented on #144
Looks like this has been there for a while. Just thought I'll drop a quick to see if there's any update on this? I'm holding off using rocksdb for some rust services due to transactions.

[2018-10-24 13:15] eupn opened #213 "Open DB in read-only mode"
It would be nice to add possibility to open DB in read-only mode, eg. at least for:

* Reading DB from multiple processes
* Create checkpoints of DB which is currently used by other process

This is supported by RocksDB, the only thing needed is to add FFI bindings and `open_readonly` method to `DB` structure.

[2018-11-04 11:38] iSynaptic opened #214 "Travis CI is not working"
This repo's CI build via Travis CI is configured using the, [now deprecated](https://developer.github.com/changes/2018-04-25-github-services-deprecation), GitHub Services and will cease to function on January 31, 2019. There appears to be [a migration solution](https://docs.travis-ci.com/user/legacy-services-to-github-apps-migration-guide/).

[2018-11-04 11:53] iSynaptic opened #215 "Add web chat collaboration"
@aleksuss @vitvakatu I was thinking it might be useful to add a link to web chat room, like [Gittter](https://gitter.im) for this repo. Thoughts?

[2018-11-04 11:57] iSynaptic opened #216 "Create contribution guide"
To encourage and guide contributions to this library, we should add a contribution guide, as suggested by @vitvakatu [here](https://github.com/rust-rocksdb/rust-rocksdb/pull/211#issuecomment-429657974).

[2018-11-04 12:03] iSynaptic commented on #214
The existing CI build is configured under @spacejam's Travis CI account.  I'm not sure if that can use that in-place, be migrated to a `rust-rocksdb` Travis CI organization account, or if we need to stand up a new one. Suggestions?

[2018-11-04 12:06] iSynaptic commented on #214
Additionally, it doesn't look like CI builds are happening for PRs anymore. The [last one to run](https://travis-ci.org/spacejam/rust-rocksdb/pull_requests) was two months ago, even though there have been more recent PRs submitted.

[2018-11-04 12:33] iSynaptic opened #217 "Upgrade to the latest RocksDB core library"
The rust binding is currently targeting version `5.14.2` of the core library, but `5.15.10` was released a little over a month ago. We should upgrade to the latest version, assuming it doesn't result in any breaking/surprising changes (version 5.15.0 introduced [API changes and new features](https://github.com/facebook/rocksdb/releases/tag/v5.15.10)).

[2018-11-05 08:20] aleksuss commented on #215
@iSynaptic i guess it's a good idea.

[2018-11-05 09:33] aleksuss commented on #214
@iSynaptic I've just created a new PR and have recognized that with Travis CI everything is OK. I don't see an issue.

[2018-11-05 09:59] spacejam commented on #214
I enabled travis for the rust-rocksdb org, and I think it may be working now. Thanks for updating the link, @aleksuss !

[2018-11-05 12:17] iSynaptic commented on #214
Agreed. It appears to be working now. Closing...

[2018-11-05 12:17] #214 closed

[2018-11-05 16:00] spacejam commented on #215
approved gitter API request

[2018-11-06 12:22] iSynaptic commented on #156
@r8d8 Any reason it has to be Appveyour CI, or is a Windows CI build via Travis CI sufficient?

[2018-11-06 12:29] r8d8 commented on #156
@iSynaptic not critical, whatever CI can handle Window builds will suit.

[2018-11-06 12:48] iSynaptic commented on #168
I think this was fixed with #199.  Can you confirm?

[2018-11-06 20:06] #35 closed

[2018-11-07 13:08] iSynaptic commented on #156
Closed by #219

[2018-11-07 13:08] #156 closed

[2018-11-07 13:10] iSynaptic commented on #168
#200 shows that tests are running for OS X now. Closing.

[2018-11-07 13:10] #168 closed

[2018-11-07 13:47] iSynaptic commented on #156
[Successful Windows CI](https://travis-ci.org/rust-rocksdb/rust-rocksdb/jobs/451873630) build in master branch.

[2018-11-07 13:57] iSynaptic commented on #216
Some inspiration can be found in the [Rust contribution guide](https://github.com/rust-lang/rust/blob/master/CONTRIBUTING.md).

[2018-11-08 16:23] elichai opened #221 "The prefix iterator behaves weirdly"
Hi,
If you give the `prefix_iterator` a longer prefix than what you declared in Options (`set_prefix_extractor`).
You don't get an error and it doesn't ignore the rest of the prefix, it behaves like a prefix together with a From.
like this:
[code]

And an actual working example:
[code]
This will print these results:
[code]

So the first byte behaves like a real prefix(giving an exact match), but t

[2018-11-14 19:39] iSynaptic opened #224 "Transition to Rust 2018"
Rust 2018 is [slated to land in December 2018](https://blog.rust-lang.org/2018/07/27/what-is-rust-2018.html). Perhaps we should transition to it?  Thoughts?

[2018-11-14 20:46] vitvakatu commented on #224
I propose to wait just a bit, to avoid some unpredictable bugs and regressions and make sure that the whole ecosystem will make a transition together with us. (one of the examples - `failure` wasn't ready to `dyn Trait` syntax and caused a lot of problems in various projects which depend on it)

[2018-11-15 13:42] iSynaptic commented on #224
@vitvakatu Sounds good. I'll leave this open as a reminder to reconsider after some time has passed.

[2018-11-18 16:48] elichai commented on #217
I don't know a lot about autogenerated bindings, but is it possible to maybe move something like a dynamic linking?
For example, in the leveldb bindings ( https://github.com/skade/leveldb-sys ) you need to install `libleveldb-dev` from the distribution repository and then it doesn't need to compile the whole thing every time, so it compiles only the bindings which takes a few seconds.

Here only c

[2018-11-18 20:49] aleksuss commented on #217
@elichai good point. I thought about this too and I'm planning to do this in the future.

[2018-11-19 00:39] iSynaptic commented on #217
I guess I'm torn on this. I like the convenience of statically linking the library and not needing additional dependencies installed.  Cache prevents the need to constantly recompile the library, so I'm not bothered by needing to compile the whole thing once. Given that it's been statically included for so long, I'd want to get the communities' thoughts on the matter, perhaps in a different issue.

[2018-11-19 06:35] vitvakatu commented on #217
I'd like to allow both static and dynamic linkage (probably by using features) - this would be the most flexible approach as for me. Compile time is not an issue right now for the library itself, but it also affects compile time of other projects which depend on us, which is unfortunate.

[2018-11-19 09:10] iSynaptic commented on #217
@vitvakatu I like that idea (supporting both).

[2018-11-19 09:19] iSynaptic commented on #217
Does #166 achieve this already?  Perhaps for both static and dynamic linking is already supported but just not well documented or ergonomic?

[2018-11-19 09:35] iSynaptic commented on #215
@spacejam Can you setup the maintainers as admins to the org? [I've been told](https://gitter.im/gitterHQ/gitter?at=5bed9b209600d10e64b50fe3) we need to setup Gitter IM for the org in order to get it setup for the repo.

[2018-11-19 09:41] iSynaptic commented on #206
Closing because this issue has gone stale. Can reopen if needed later.

[2018-11-19 09:41] #206 closed

[2018-11-19 14:36] mcdallas commented on #190
Not anymore, closing.

[2018-11-19 14:36] #190 closed

[2018-11-25 15:08] spacejam commented on #215
@iSynaptic oops! sorry for that. I've enabled gitter for rust-rocksdb, and configured all org-level members as admins. This means that each our @rust-rocksdb/crate-publishers may now additionally create new repos and add contributors to them.

[2018-11-25 19:54] #215 closed

[2018-11-29 12:34] iSynaptic opened #230 "Add rustfmt check to CI build"
Once rustfmt reaches 1.0 (December 6 is the scheduled release date), we should add rustfmt checks to the build.

Example from @aleksuss in #229 :

[code]

[2018-11-29 12:38] iSynaptic commented on #221
@elichai Okay to close or do you think this is a issue with this language binding?

[2018-11-29 13:09] iSynaptic commented on #137
Is this still an open issue, or was it solved by alexcrichton/cc-rs#261?

[2018-11-29 13:10] iSynaptic commented on #135
Can you provide more detail? What are you trying to do?

[2018-11-29 13:13] iSynaptic commented on #124
Closing this since it seems using bindgen was the solution.

[2018-11-29 13:13] #124 closed

[2018-12-05 16:55] iSynaptic opened #233 "Release 0.11.0"
Over 60 commits and a number of features have accumulated since the 0.10.1 release. I recommend we publish a new release, `0.11.0`.

[2018-12-05 16:56] iSynaptic commented on #233
@spacejam Are there specific directions on the process to publish a release?

[2018-12-05 17:58] spacejam commented on #233
Great work everyone!!! It's been really cool seeing you folks making great progress :)

I would actually like to suggest that we release a `1.0.0` to celebrate this project growing up :)

But I leave this decision to you! I've written up the below guide assuming `0.11.0`. Let me know if this would be useful in MAINTAINERSHIP.md and I'll open a PR!

If you are feeling uncertain and want to be caref

[2018-12-05 18:24] iSynaptic commented on #233
@spacejam Sure, I'll perform the release.

I don't want to speak for everyone, but I feel there are some more things we can do to mature the library a bit more before we publish a 1.0.0 release. The issue log has a lot of suggestions. I'd like to get the open issue count down a bit more.

[2018-12-05 18:29] aleksuss commented on #233
@iSynaptic Let's do this 😄

[2018-12-05 18:39] iSynaptic commented on #233
@spacejam Looks like we need to publish a new version of `librocksdb-sys`, perhaps 5.14.3? Same steps, but from the librocksdb-sys path, first?

[2018-12-05 18:42] iSynaptic commented on #233
@spacejam Doesn't look like `crate-publishers` has been added as an owner of `librocksdb-sys` on crates.io -- can you add that?

[2018-12-06 08:43] spacejam commented on #233
@iSynaptic sorry for that! done!

[2018-12-06 08:45] spacejam commented on #233
yeah, librocksdb-sys just tracks the underlying rocksdb version, and we've been lucky not to need to yank a release without being able to roll forward a little more

[2018-12-06 14:46] aleksuss commented on #233
@iSynaptic sorry for a stupid question, but you've run `cargo login your_token`, haven't you ?

[2018-12-06 14:47] iSynaptic commented on #233
lol. Not a stupid question. Yes, I did -- and I generated the token this morning after Tyler setup the permission on librocksdb-sys.

[2018-12-07 18:24] rob-solana opened #234 "dropping DB breaks open iterators (other objects?)"
test code:
[code]

**expected behavior:** successful run
**observed behavior:** segfault, pthread error, other aborts, depending on timing

It'd be nice for rocksdb to support this use case so that rust Iterators can be written without underbar _members, e.g.:

[code]

[2018-12-07 18:37] iSynaptic commented on #234
Is this even supported by the underlying RocksDB library, eg. closing the database and continuing to use open iterators? I'm not sure this is something that can be supported.  Once the `DB` is dropped, the [underlying database is closed](https://github.com/rust-rocksdb/rust-rocksdb/blob/master/src/db.rs#L1250), and I believe that invalidates open iterators. If anything, I might suggest we add a li

[2018-12-07 19:50] iSynaptic commented on #234
I think the "rust-y" approach, as you put it, would be to wrap the `DB` in a smart pointer such as `Rc<T>` or `Arc<T>` to manage the lifetime of the underlying `DB` struct.  Those smart pointer types implement `Clone`, allowing you to have multiple owned smart-pointers to the `DB` struct.  Implementing `Clone` on the `DB` struct would be dangerous, since it manages the underlying `unsafe` C pointe

[2018-12-07 19:50] #234 closed

[2018-12-07 19:54] iSynaptic opened #235 "Invalid pointers to underlying objects outlive DB"
This is related to #234.

Pointers to underlying RocksDB objects (eg. iterators) can outlive the underlying `DB` object. If these objects are used after the `DB` is `Drop`-ped and closed, this can cause segfaults. Consider the implications to adding lifetime annotations to structs that manage these underlying objects.

[2018-12-07 20:03] aleksuss commented on #235
Very interesting. Could you please express an example of code that illustrates that bug ?

[2018-12-07 20:07] iSynaptic commented on #235
@aleksuss Yes, I will (assigned this issue to myself). #234 has one example, but I suspect there are others.  I'll try to find as many as I can.

[2018-12-07 20:08] iSynaptic commented on #235
Also, thanks to @rob-solana for finding this issue via #234 .

[2018-12-09 10:34] elichai commented on #221
hmm I actually didn't check if it exists in the C++ code, So idk.
Maybe i'll check soon when I have the time (not a C++ dev)

[2018-12-09 14:09] elichai commented on #221
@iSynaptic Not sure if this deserve of a separate issue,
the `put` functions of write_batch doesn't contain any `try!` and yet they return a result.
Is this intended? why?
https://github.com/rust-rocksdb/rust-rocksdb/blob/master/src/db.rs#L1147

[2018-12-10 09:02] spacejam commented on #233
@iSynaptic I just hit the button that blanket-removed all restrictions for github 3rd party apps, but I'm not sure if that will change things or not :/ Could you try again now? If this still isn't working I'll try to get in touch with the crates.io folks to figure out more info.

[2018-12-10 13:49] iSynaptic commented on #233
@spacejam Same issue, even after creating a new login token. 😞

[2018-12-10 20:04] vitvakatu commented on #221
@elichai I think it's intended behavior, as no chance of errors is implementation detail. In the future, we'll be able to change this internal implementation without changing user-facing API

[2018-12-11 05:13] rohitjoshi opened #236 "Question: Enabling LRU Cache"
I have enabled LRUCache but the memory for the process is not growing. It reaches to 1.5GB and drops back to 350Mb.  I inserted 50M key/val pair with an average size 128 bytes and expected to grow 5GB.

Block Cache options are as below.  What am I missing?

[code]

[2018-12-11 22:56] rohitjoshi commented on #236
Seems working fine.  Closing it.

[2018-12-11 22:56] #236 closed

[2018-12-22 13:55] aleksuss commented on #233
@spacejam What do you think about to add members of crate-publishers group directly to owners of crates `librocksdb-sys` and `rocksdb` ? Definitively we've got stuck with the issue of group access.

[2018-12-22 15:02] iSynaptic commented on #233
@spacejam @aleksuss That probably would be the fastest path to resolution. I get the sense that assigning GitHub teams to crate ownership isn't a common or well supported scenario.

[2018-12-31 11:49] spacejam commented on #233
sorry for the huge delay on this, I've added @aleksuss and @iSynaptic as owners for now!

[2018-12-31 13:45] iSynaptic commented on #233
@spacejam Sweet. Can you do the same for `librocksdb-sys`? We need to snap a new version of that before we can release `rocksdb`.

[2019-01-05 10:43] spacejam commented on #233
done!

On Mon, Dec 31, 2018 at 2:45 PM Jordan Terrell <notifications@github.com>
wrote:

[2019-01-05 11:36] gim913 opened #239 "WriteBatch::clear"
Hi,

is there a reason not to have [WriteBatch::clear()](https://github.com/facebook/rocksdb/blob/64324e329eb0a9b4e77241a425a1615ff524c7f1/db/write_batch.cc#L205)? + [.h](https://github.com/facebook/rocksdb/blob/64324e329eb0a9b4e77241a425a1615ff524c7f1/include/rocksdb/write_batch.h#L154) (maybe there's some idiom i'm not aware of)

[2019-01-05 12:11] aleksuss commented on #239
@gim913 hello. I suppose it's just because a rare usage of this functional. But I guess it's nice to have 👍🏻

[2019-01-05 13:40] iSynaptic commented on #233
I'll try snapping a release later today.  Did we want to try to get #238 into this release?

[2019-01-05 14:34] aleksuss commented on #233
@iSynaptic I don't see reasons why don't include it.

[2019-01-05 15:18] aleksuss commented on #239
There was added #240

[2019-01-08 15:20] iSynaptic commented on #233
Didn't get to the release on Saturday like I had planned. Starting on it now...

[2019-01-08 16:13] iSynaptic commented on #233
`librocksdb-sys` 5.14.3 has been published. Working on `rocksdb` 0.11.0-pre.0 right now.

[2019-01-08 16:20] iSynaptic commented on #233
`rocksdb` 0.11.0-pre.0 has been published. I will do some testing -- I welcome some testing from others. Once I get a 👍, I will publish final version.

[2019-01-09 11:38] aleksuss commented on #233
@iSynaptic I've tested your prepared release in my project. I haven't seen any problems. Looks good. But I you think it is possible it would be nice to have https://github.com/rust-rocksdb/rust-rocksdb/pull/241 in 0.11.0. Thanks.

[2019-01-09 14:38] iSynaptic commented on #233
@aleksuss Thanks. Would you be okay with doing a 0.11.1 release shortly after this one with #241 included? This release has been held up for quite a while and I would like to get it released.

[2019-01-09 14:43] iSynaptic commented on #233
@vitvakatu @spacejam Any feedback on the quality of the pre-release? (no problem if you haven't been able to look at it)

[2019-01-09 15:08] aleksuss commented on #233
@iSynaptic Ok. No problem.

[2019-01-09 19:42] iSynaptic commented on #233
I've completed my testing. I'm ready to release.

[2019-01-10 16:28] iSynaptic commented on #233
@aleksuss @vitvakatu @spacejam I'm going to release 0.11.0. now. I'll start by yanking the 0.11.0-pre.0 release. Once I publish the release, I'll push the changelog update, tag the commit, and create a GitHub release.

[2019-01-10 16:45] iSynaptic commented on #233
Done!

Thanks to @spacejam, @aleksuss, @vitvakatu, @ekmartin, @s-panferov, @Tpt, @Elzor, and @romanz for making this release happen!

[2019-01-10 16:45] #233 closed

[2019-01-22 17:40] jonathanstrong commented on #206
just encountered this as well trying to build LocustDB. ubuntu 16.04, rustc v1.33.0-nightly 2019-1-21. gcc (Ubuntu 5.4.0-6ubuntu1~16.04.11) 5.4.0 20160609.

[code]

Interestingly, same thing happened to me recently with the zstd crate, which was subsequently fixed somehow, but I don't know what they did. Here's the [issue](https://github.com/gyscos/zstd-rs/issues/51).

Not sure what is driving thi

[2019-01-22 17:45] iSynaptic commented on #206
Do you have clang installed?  `apt list --installed 2>/dev/null | grep clang`
If not, try installing that: https://blog.kowalczyk.info/article/k/how-to-install-latest-clang-6.0-on-ubuntu-16.04-xenial-wsl.html

[2019-01-22 18:01] jonathanstrong commented on #206
actually I had just worked around it that way ... but why gcc didn't work is still mysterious, right?

[2019-01-28 19:33] rohitjoshi commented on #135
How do I restore from an existing backup directory?  I don't see `pub unsafe extern "C" fn rocksdb_backup_engine_restore_db_from_latest_backup()` is made available in the Rust interface.

[2019-02-02 00:48] jamesray1 opened #251 "error: failed to run custom build command for `librocksdb-sys v5.14.3 (/home/jray/rust-rocksdb/librocksdb-sys)`"
I get an error when compiling librocksdb-sys v5.14.3:

[code]

Which path should I set `LIBCLANG_PATH` to, or how can this be done automatically?

Steps to reproduce:
[code]
Moved from https://github.com/paritytech/shasper/issues/48.

[2019-02-02 01:34] iSynaptic commented on #235
I have a branch that fixes this issue. Should be a PR soon.

[2019-02-02 03:22] iSynaptic opened #252 "ColumnFamily structs can become invalid if column family is dropped."
Calling `drop_cf` on `DB` will cause any `ColumnFamily` struct copies pointing to the same column family to become invalid and may cause segfaults.

[2019-02-03 00:01] jwasinger commented on #251
you do have clang/llvm installed on your system right?

[2019-02-03 04:44] jamesray1 commented on #251
I have GCC, not sure about llvm, I will double check.

[2019-02-03 10:32] aleksuss commented on #251
@jamesray1 What is you OS by the way ?

[2019-02-03 10:51] iSynaptic commented on #252
Apparently this is not an issue: https://github.com/facebook/rocksdb/wiki/Column-Families

[2019-02-03 10:51] #252 closed

[2019-02-03 13:36] #239 closed

[2019-02-03 13:48] iSynaptic commented on #221
@elichai I now agree that `prefix_iterator` behaves weirdly, but as designed.  In #254, I added a test that validates the behavior and includes a comment explaining the behavior (quoted below).  Based on the behavior I _think_ you want, you should probably use a regular iterator and provide your own `ReadOptions`. This is enabled in #253.

@vitvakatu @aleksuss I think we need to take a look at all

[2019-02-03 13:48] #221 closed

[2019-02-03 13:59] iSynaptic commented on #104
This is by design. Mutating a `DBIterator` (via `fn next` on the `Iterator` trait) is unsafe from multiple threads. DBIterator is `Send`, so I believe you can put it in an `Arc<Mutex<DBIterator>>` and then use that from multiple threads.

[2019-02-03 13:59] #104 closed

[2019-02-03 14:04] iSynaptic commented on #235
Fixed by #253

[2019-02-03 14:04] #235 closed

[2019-02-03 14:08] iSynaptic commented on #173
This is unsafe because the iterator may still be alive, but the pointers returned by `key_inner` and `value_inner` is only valid until the cursor moves. Once it does, dereferencing those pointers is unsafe and cannot be prevented by lifetimes.

[2019-02-03 14:08] #173 closed

[2019-02-03 14:09] iSynaptic commented on #103
Is this still needed? What are the benefits?

[2019-02-03 14:14] #210 closed

[2019-02-03 14:18] iSynaptic commented on #203
#253 adds the ability to provide `ReadOptions` when creating an iterator.  I'll work on exposing more of the `ReadOptions` options.

[2019-02-03 14:20] iSynaptic commented on #148
@lght Can you provide some sample Rust code that demonstrates this issue?

[2019-02-03 23:46] jamesray1 commented on #251
@aleksuss

[2019-02-04 06:44] jamesray1 commented on #251
I am installing `llvm-svn` with `yay llvm-svn`.

[2019-02-04 09:52] aleksuss commented on #251
@jamesray1 did it help ?

[2019-02-04 10:09] jamesray1 commented on #251
@aleksuss, still building at 9%, I'll leave it on overnight. (About an hour ago I turned the computer off for the day by habit, forgetting that it was running. I booted up again and ran it.)

![](https://i.imgur.com/mfr5CyG.png)

[2019-02-04 10:55] iSynaptic commented on #172
The best source for the documentation will either be [the doc.rs site](https://docs.rs/rocksdb) generated from Rust comments or the [official RocksDB documentation](https://github.com/facebook/rocksdb/wiki), which we try to make applicable to this library as much as we can.

If you have some areas of documentation that need improvement, please let us know.  I think the general approach to document

[2019-02-04 10:55] #172 closed

[2019-02-04 10:55] iSynaptic commented on #178
Perhaps coming in #250

[2019-02-04 12:34] iSynaptic commented on #19
Closing in favor of opening more specific issues with test coverage.

[2019-02-04 12:34] #19 closed

[2019-02-04 12:42] iSynaptic commented on #217
I'm going to assume #166 achieves the dynamic linkage requirement unless someone says otherwise.  The current version of RocksDB as of today is [5.17.2](https://github.com/facebook/rocksdb/releases) and is getting close to 4 months old. I'll make a pass at updating to the latest version.

[2019-02-04 13:22] iSynaptic commented on #145
It's been over a year since this was discussed. Suggesting that we close.

I share your frustration with the abstractions.  Much of the ergonomics when using column families is no doubt a result of column families being a later addition to underlying library.  However, I think the direction with this library has historically always been a thin Rust wrapper over the underlying RocksDB.  Drastically

[2019-02-04 13:53] vmx commented on #145
As it's been over a year, I don't remember the details. Though IIRC it would be quite difficult to create a new crate which just chnages how column family work, without being essentially a fork. I'd still believe that a simpler API is desirable, but as I don't have any time for helping out at the moment, I'm OK with having it closed as "won't fix".

[2019-02-04 17:08] iSynaptic commented on #145
@vmx Sounds good. I've been spending a lot of time trying to improve the ergonomics of the API while staying true to the underlying API (see #253 and #255).  I'm going to close this, but I'm open to more suggestions on how we can improve the ergonomics of the API.

I've got another PR planned to make better use of traits for the definition of "PIGMED" operations.  It will simplify the existing fun

[2019-02-04 17:08] #145 closed

[2019-02-04 23:07] iSynaptic opened #257 "Get document tests to run as part of the CI build"
See this explanation: https://doc.rust-lang.org/rustdoc/documentation-tests.html

[2019-02-04 23:12] ekmartin commented on #257
Pretty sure they're run as a part of `cargo test`?

https://travis-ci.org/rust-rocksdb/rust-rocksdb/jobs/488739048#L1118

[2019-02-04 23:55] iSynaptic commented on #257
I've seen them not run in the past, but perhaps they've been fixed...closing.

[2019-02-04 23:55] #257 closed

[2019-02-05 13:16] #175 closed

[2019-02-05 13:16] #177 closed

[2019-02-06 02:03] jamesray1 commented on #251
So I have extra/llvm-libs installed, but not extra/llvm and extra/clang, nor extra//lld (Linked). Do I need any of these if I already have gcc?

[2019-02-06 02:33] jamesray1 commented on #251
While #259 helps to avoid this issue, ideally as part of compiling this crate it should check if clang is not installed and prompt the user to install it if not installed, then if yes install it automatically with a build script that checks the OS/distro and installs accordingly, otherwise abort.

[2019-02-06 13:04] Kais-DkM commented on #103
According to [rust-lang blog](https://blog.rust-lang.org/2019/01/17/Rust-1.32.0.html#jemalloc-is-removed-by-default), jemalloc was removed from rust in 1.32.0.
For now, I think you can use whatever version of jemalloc you'd like to.

[2019-02-07 14:51] #251 closed

[2019-02-12 15:19] iSynaptic opened #260 "Options, ReadOptions, WriteOptions missing many settings"
The `Options`, `ReadOptions`, and `WriteOptions` structures do not exposes setters for many of the underlying settings. The underlying options object exposes over 150 settings, many of which are necessary for tuning for different scenarios.  Also, many of the settings apply to a `ColumnFamily` and some to the `DB`.  Some work should be done to expose more of these settings and place them in an app

[2019-02-12 15:27] iSynaptic commented on #260
I believe addressing this issue is critical before we can label this library `v1.0`. I'm sure there are other similar issues, but this is one of them.

[2019-02-12 15:28] iSynaptic commented on #203
#260 is a broader issue that encompasses this issue.

[2019-02-12 15:36] iSynaptic commented on #154
@RCasatta Can you confirm this is still an issue?

[2019-02-12 23:33] iSynaptic commented on #217
Fixed in #261. Thanks @aleksuss!

[2019-02-12 23:33] #217 closed

[2019-02-13 07:04] elichai commented on #217
Just to clarify, If I want dynamic linking I should add the env var `ROCKSDB_LIB_DIR` with the location of the `.so`/`.a` in it, right?

[2019-02-13 08:27] aleksuss commented on #217
@elichai yes

[2019-02-13 13:31] #203 closed

[2019-02-14 00:23] #36 closed

[2019-02-14 00:23] #154 closed

[2019-02-14 20:10] iSynaptic commented on #108
I feel the real issue here is that this crate doesn't expose sufficient functionality. I think in the past few months we have been making good strides towards improving the situation (eg. #209, #212, #238, #240, #246, #248, #253, #263). I actually like the pressure of GitHub issues stating that functionality is not accessible as a motivating force to improve this crate.  Exposing the FFI might mea

[2019-02-15 15:21] aleksuss opened #267 "Add clippy checker job in Travis CI"

[2019-02-18 17:01] iSynaptic commented on #103
Since Rust no longer uses jemalloc by default, it would appear this is no longer needed. Closing and can revisit if needed.

[2019-02-18 17:01] #103 closed

[2019-02-18 17:04] iSynaptic commented on #137
@rrichardson I don't experience a rebuild of `librocksdb-sys` every time - only the initial build for a given `Cargo.toml`.  Can you share an example of where/how this is happening?

[2019-02-18 17:08] iSynaptic commented on #144
I reread @rrichardson  earlier comments and I think this issue is referring to the "pessimistic" version of transactional RocksDB, whereas #250 is adding the "optimistic" version.  I think we should be able to land both, leveraging much of the work in #250.

I'm currently working on some internal restructuring in #268 that will make it easier to implement both `TransactionalDB` and `OptimisticTran

[2019-02-20 16:27] hlb8122 opened #269 "Documentation: What is the standard procedure for sharing DB across threads?"
Suppose

`let db = DB::open_default("path/for/rocksdb/storage").unwrap();`

I want to share this between threads and allow them to get and put independently.

It is not clear whether I should wrap `db` as `Arc::new(db)` or go the whole hog and wrap it in a mutex too (`Arc::new(Mutex::new(db))`)?

[2019-02-20 16:34] iSynaptic commented on #269
`DB` is both `Send` and `Sync`, so the only thing you will need to wrap it with is `Arc` so it will be correctly `Drop`ed.  All the thread safety is provided by the underlying RocksDB library.

[2019-02-20 17:38] #269 closed

[2019-02-20 17:40] iSynaptic commented on #108
There haven't been any objections to my proposal. I'm going to close and we can revisit if someone feels otherwise.

[2019-02-20 17:40] #108 closed

[2019-02-20 17:41] iSynaptic commented on #148
Closing due to inactivity.

[2019-02-20 17:41] #148 closed

[2019-02-23 23:05] nlfiedler opened #270 "Lazy init static and how to drop/close gracefully?"
I'm writing a long-lived application that will use RocksDB, and for convenience I want to keep the database reference and functions in a single module. To that end, I want to use `lazy_static` to initialize the DB reference, and the db-related functions deref that and operate on the database. Eventually the program will exit, so how can I ensure the database has been properly flushed and closed? T

[2019-02-24 05:15] pakipaki2000 opened #271 "Parallel writing"
Hi,

I don't find how to use the native RocksDB functions to do parallel writing/reading.

Thanks guys :)

[2019-02-24 16:11] iSynaptic commented on #270
I'm not entirely sure how to advise you, but I'll do my best.  The only way to close a `DB` is to implicitly or explicitly have it `Drop`ped.  I'm not sure how `lazy_static` works, but if you can confirm that as part of it's internal implementation it properly drops the `DB`, you shouldn't need to explicitly call `drop`.

An alternative, as you mentioned, would be to create the `DB` at the beginni

[2019-02-24 16:22] iSynaptic commented on #271
For the most part, the [underlying RocksDB library](https://rocksdb.org/) takes care of making sure all parallel reading and writing is done safely.  I recommend you take a look at the [official documentation](https://github.com/facebook/rocksdb/wiki) if you have specific questions about specific read/write operations.

This wrapper library tries its best to make use of Rust's type system to preve

[2019-02-24 16:22] #271 closed

[2019-02-24 17:26] iSynaptic commented on #135
I can see that the library doesn't expose the ability to restore an backup. Looks like the work has been started but not finished.  I've labeled this as a bug. Anyone is free to take on fixing this, otherwise I will plan on it once other in-flight work is completed.

[2019-02-24 18:53] rohitjoshi commented on #135
I have implemented this on my local branch. I will submit a PR.

[2019-02-24 20:54] vitvakatu commented on #270
`lazy_static` will not call Drop on exit, because it works with the plain old statics, nothing magical.

[2019-02-24 21:19] iSynaptic commented on #270
In that case, I would recommend not using `lazy_static` with `DB` -- rather I would suggest you create the `DB` in the `main` function and pass around references.

[2019-02-24 21:19] #270 closed

[2019-02-25 00:44] iSynaptic commented on #213
@eupn I've just pushed the beginnings of `ReadOnlyDB` into #268.  Right now all it supports is `get_*` operations, but it will soon support the other read operations.

[2019-02-25 00:46] iSynaptic commented on #213
@eupn [Here](https://github.com/rust-rocksdb/rust-rocksdb/blob/31657c6ac593cc49267c23d4bbe51c0f462bf3ee/tests/test_read_only_db.rs) is one of the first tests for `ReadOnlyDB`.

[2019-02-25 01:25] iSynaptic commented on #135
Looks like this will be addressed in #249 by @rohitjoshi.

[2019-02-25 01:59] rohitjoshi commented on #135
@iSynaptic I am close #249 and splitting into two different PRs.
Submitted #272 for this issue.

[2019-02-25 02:52] nlfiedler commented on #270
I tried in vain to use `Mutex` and `Option` with `atexit` so I could `take` the value, but that resulted in a segfault (while running the tests). Instead I'll open the database at the appropriate time, do a bunch of operations, and then let it drop naturally. That fits the workflow of the application just fine. For testing, I'll use integration tests and `lazy_static` to avoid opening the database

[2019-03-03 12:51] elichai opened #273 "Is a new release upcoming?"
Hi,
Just wanted to ask if there's an ETA for the next release so I could stop using the old fork(https://github.com/elichai/rust-rocksdb/) that let's me pass ReadOptions for the DBIterator :)

[2019-03-03 20:41] iSynaptic commented on #273
I don't think we've got a specific date picked for the next release. We've got a few PRs in flight - I suspect once they are merged we'll have a release.

[2019-03-03 21:34] elichai commented on #273
Thanks!

[2019-03-03 21:34] #273 closed

[2019-03-07 06:40] xuchaoqian opened #274 "Getting "warning: redundant linker flag specified for library `c++` " on macOS10.14"
Similar to this issure: https://github.com/rust-rocksdb/rust-rocksdb/issues/210
The compiling command as following:

 Running `rustc --crate-name librocksdb_sys /Users/abc/.cargo/registry/src/github.com-1ecc6299db9ec823/librocksdb-sys-5.14.3/src/lib.rs --color always --crate-type lib --emit=dep-info,link -C debuginfo=2 --cfg 'feature="bzip2"' --cfg 'feature="default"' --cfg 'feature="lz4"' --cfg '

[2019-03-07 13:53] iSynaptic opened #275 "Release 0.12.0"
Over 85 commits and a number of features have accumulated since the 0.11.0 release. We've also had a few requests to release the new functionality. I recommend we publish a new release, 0.12.0.  I'm working on updating the changelog to list what's been added.  This will not include the work to move operations into traits or expose transactional database functionality. Those PRs are still in-flight

[2019-03-07 14:41] iSynaptic commented on #224
@vitvakatu @aleksuss There have been 2 releases since Rust 2018 landed in December. Any objections to moving over to it?

[2019-03-07 14:42] iSynaptic commented on #135
Fixed by #272.

[2019-03-07 14:42] #135 closed

[2019-03-07 14:44] iSynaptic commented on #137
Not sure how to move this forward and this issue has been fairly inactive for some time. I'm going to close. We can always revisit if needed...

[2019-03-07 14:44] #137 closed

[2019-03-07 14:47] iSynaptic commented on #274
I don't think we can do anything to address this since it's from an upstream library. We recently suppressed some of the warnings in #245. Not ideal, but it should address the issue in the next release.

[2019-03-07 14:47] #274 closed

[2019-03-07 14:56] iSynaptic commented on #144
There are some missing methods in C API to make `TransactionalDB` roughly equivalent `DB` (see facebook/rocksdb#4999). That needs to be resolved before we can land this feature.

[2019-03-10 23:46] iSynaptic commented on #275
Just released 0.12.0.

[2019-03-10 23:46] #275 closed

[2019-03-10 23:47] iSynaptic commented on #273
@elichai I just release 0.12.0, which should have the changes you are looking for. Let us know if it works out for you.

[2019-03-12 14:33] elichai commented on #273
@iSynaptic I just looked at it and I see that `DB` has a `iterator_opt()` function but only Snapshot has a `iterator_cf_opt()`, am I missing something or making a cf iterator with options is missing?
If so I can make a PR for it quickly.

Thanks.

[2019-03-13 12:20] stalexxx opened #278 "lifetime in ColumnFactory"
First of all, thank you for your work)
Next thing: in new release you have added livetime to ColumnFactory, but we have structure like this

`
struct Writer {
  db: DB,
  column: ColumnFactory
}
`
we keep `column` just to avoid writing `self.db.cf_handle("something").unwrap()` all the time (and save some time on readlock), but having lifetime in Writer is not what we want. So, we thought, maybe th

[2019-03-13 22:22] iSynaptic opened #279 "Make `cf_handle` lock-free"
The `cf_handle` function is often called very frequently and it's implementation requires acquiring a read-lock to an underlying map.  If this is called in a hot-path, it can have performance implications.  We should investigate switching this to an approach that doesn't require a lock. For example, we could make `create_cf` and `drop_cf` and any other function that mutates the internal map requir

[2019-03-13 22:23] iSynaptic commented on #278
The lifetime was added to the `ColumnFamily` struct because it contains a pointer to a C structure. If the structure was allowed to outlive the `DB` structure, the pointer contained within the `ColumnFamily` struct would be dangling.  The same was true of `DBRawIterator` and `DBIterator` -- both now have lifetimes.

I've got some ideas that would allow `ColumnFamily` not to contain a pointer (and

[2019-03-13 22:23] #278 closed

[2019-03-15 23:34] iSynaptic commented on #273
@elichai I think you are right. Feel free to submit a PR. Otherwise, it will be addressed by #268.

[2019-03-16 18:23] iSynaptic commented on #144
@hnakamur submitted facebook/rocksdb#5077 to add the missing APIs. Once they become available in a release, I'll work on adding support for it here in the Rust binding.

[2019-03-16 18:25] iSynaptic commented on #178
Closing this as a duplicate of #144.

[2019-03-16 18:25] #178 closed

[2019-03-16 20:45] prasannavl commented on #144
Nice. Thanks for the all the great work! :)

[2019-03-17 03:21] pakipaki2000 opened #281 "Retrieve all keys"
Hi,

I don't find the function to retrieve all keys (and values) In the DB, can you show me an example?

Thanks so much guys :)

[2019-03-17 03:49] pakipaki2000 commented on #281
Found it
https://docs.rs/rocksdb/0.6.0/rocksdb/struct.DBIterator.html

[2019-03-17 03:49] #281 closed

[2019-03-17 04:06] pakipaki2000 opened #282 "Mutli-thread reading"
Hi,

I can't find any example of using an Arc with Rocksdb to do concurrent reading.
Any working example? :(

Thank you.

[2019-03-17 04:20] pakipaki2000 opened #283 "Lacking options (mmap)"
Hi,

Apparently those options aren't working in this crate.
options.allow_mmap_reads and options.allow_mmap_writes

Thanks :)

[2019-03-17 09:39] vitvakatu commented on #224
No objections from me,  Rust 2018 looks stable enough now

[2019-03-17 22:53] HandleMaser commented on #283
Having the same issue, Rust RocksDB is slow because of it :(

[2019-03-18 08:02] aleksuss commented on #283
Added in this PR #285

[2019-03-18 08:47] pakipaki2000 commented on #283
Awesome! Thanks aleksuss

[2019-03-18 11:43] rohitjoshi commented on #282
See example [here](https://github.com/rohitjoshi/bhatho/blob/master/src/db/db_manager.rs)

[2019-03-18 12:19] iSynaptic commented on #283
#285 has been merged to master.

[2019-03-18 12:19] #283 closed

[2019-03-19 06:16] freehere107 opened #286 "error: failed to run custom build command for `librocksdb-sys v5.17.2`"
## mac version

mac mojave 10.14.3

## Got error
error: failed to run custom build command for `librocksdb-sys v5.17.2`
process didn't exit successfully: `/gotham-city/gotham-server/target/debug/build/librocksdb-sys-531f568e71a25329/build-script-build` (exit code: 101)
--- stdout
cargo:rerun-if-changed=build.rs
cargo:rerun-if-changed=rocksdb/
cargo:rerun-if-changed=snappy/
cargo:rerun-if-changed=l

[2019-03-19 07:31] freehere107 commented on #286
stack backtrace:
   0: std::sys::unix::backtrace::tracing::imp::unwind_backtrace
             at src/libstd/sys/unix/backtrace/tracing/gcc_s.rs:39
   1: std::sys_common::backtrace::_print
             at src/libstd/sys_common/backtrace.rs:70
   2: std::panicking::default_hook::{{closure}}
             at src/libstd/sys_common/backtrace.rs:58
             at src/libstd/panicking.rs:200
   3: std::p

[2019-03-19 12:20] iSynaptic commented on #286
Does compiling any Rust project work with Clang 10.0 on your system?

[2019-03-19 12:26] iSynaptic commented on #282
@rohitjoshi Thanks for providing an example.

@pakipaki2000 There is nothing special about how `DB` and `Arc` works together.  You can use `DB` with `Arc` the same way you would use any struct with `Arc`.  The [official Rust documentation](https://doc.rust-lang.org/std/sync/struct.Arc.html) and the [Rust book](https://doc.rust-lang.org/book/ch16-03-shared-state.html#atomic-reference-counting-with-

[2019-03-19 12:26] #282 closed

[2019-03-20 01:16] freehere107 commented on #286
@iSynaptic yes,i compiling https://github.com/KZen-networks/gotham-city/tree/master/gotham-client
,that ok,but only compiling librocksdb-sys fail

[2019-03-20 14:32] iSynaptic commented on #286
@freehere107 Strange. We've got [a CI build](https://travis-ci.org/rust-rocksdb/rust-rocksdb) that ensures it compiles on Mac OS. I'm wondering if there is some tooling version incompatibilities causing this.  I don't have access to a Mac - is it possible for you to try an earlier version of Clang to see if that is where the incompatibility is coming from?

[2019-03-21 02:58] freehere107 commented on #286
@iSynaptic ok. i try it, thank you

[2019-03-21 05:55] pakipaki2000 commented on #283
Hi,

When will this be available in the crates.io?

Thank you

[2019-03-26 23:23] iSynaptic opened #287 "Release 0.12.1"
We are getting a number of requests to release the functionality that's been added since 0.12.0. I recommend we release 0.12.1.  I can manage the release, just need approval from another maintainer.

[2019-03-27 10:31] iSynaptic commented on #286
@freehere107 Did a different version of Clang work?

[2019-03-27 10:35] iSynaptic commented on #287
Got thumbs up from @aleksuss. Just published v0.12.1.

[2019-03-27 10:35] #287 closed

[2019-03-29 03:26] freehere107 commented on #286
@iSynaptic Still have same error.i reopen this issue

[2019-03-29 11:28] iSynaptic commented on #286
@aleksuss I'm not using a Mac for my workstation, are you?  If so, are you able to reproduce this?

[2019-03-29 11:49] vitvakatu commented on #286
Cannot reproduce. The exact same Mac version, clang and rustc versions

[2019-03-29 11:55] iSynaptic commented on #286
@vitvakatu Thanks!

@freehere107 Our Mac CI build and @vitvakatu's Mac cannot reproduce. I'm going to close for now, but if you can pinpoint what might be causing the error for you, please post the details here.

[2019-03-29 11:55] #286 closed

[2019-03-29 11:55] aleksuss commented on #286
@iSynaptic I can't reproduce it as well 😕

[2019-03-30 21:24] iSynaptic commented on #134
Fixed by #290.

[2019-03-30 21:24] #134 closed

[2019-04-01 12:11] iSynaptic commented on #216
Created by #291.

[2019-04-01 12:11] #216 closed

[2019-04-09 12:02] valeriansaliou opened #293 "Crates version bump?"
Hello there,

I'm using RocksDB, and `rust-rocksdb` for a project of mine, Sonic: https://github.com/valeriansaliou/sonic (it's getting popular!)

I've recently sent a PR that was accepted: #290 ; which contents were required for Sonic's use of RocksDB.

As to be able to push the updated Sonic version to Crates.io, I'd need Sonic's updated `rust-rocksdb` dependency to be sourced from Crates, and n

[2019-04-11 02:36] hjiayz commented on #279
[code]

[2019-04-11 10:08] ordian commented on #279
FWIW, in paritech's fork [`cf_handle` is `Copy`](https://github.com/paritytech/rust-rocksdb/blob/5c69c8a85c893a50050a18bf125660b6107686c1/src/rocksdb.rs#L41), which is not technically not safe (OTOH one would argue it's hard to misuse), but avoids using locks.

[2019-04-12 10:03] iSynaptic commented on #279
@hjiayz Yes, very similar to that.

[2019-04-12 10:04] iSynaptic commented on #293
@alexreg @vitvakatu Okay with a 0.12.2 release?

[2019-04-23 05:13] jo2wan opened #297 "Handling of OpenDB with TTL"
Hello,

If I am not wrong, the current crate does not support TTL feature, if so, do you plan to support OpenDB with time to live (TTL) option?

I know that there is an ongoing code refactoring which should bring more flexibility (like ReadOnly DB support and many more ...), maybe TTL feature will be also bundled by #268

[2019-04-30 10:31] dvdplm commented on #279
When I tried making this change (i.e. take `&mut self` when creating/dropping column families) I ran into problems with the way `ColumnFamily` is defined. It will store a mutable reference in the `PhantomData` which makes code like this fail:

[code]

The error happen when making a method call on db that takes `&self`, such as `db.property_value_cf()` and passing in a `ColumnFamily` (which stores

[2019-04-30 11:53] valeriansaliou commented on #293
Sorry to bother with that, but would it be possible to fast-track this? I'm waiting for the `rust-rocksdb` updated version to be published on Crates in order to be able to publish a new Sonic version.

[2019-04-30 21:55] rnarubin opened #299 "Dangling pointers with set_iterate_upper_bound"
I've run into an issue when using the `set_iterate_upper_bound` method on `ReadOptions` when passed to an iterator.
The C bindings store a pointer to the given key using a `Slice` struct owned by `rocksdb_readoptions_t`. The iterator in turn stores a pointer to this `Slice`, which is accessed with every iteration to check whether the upper bound has been reached. As a consequence, both the key and

[2019-05-03 16:03] iSynaptic commented on #293
My apologies for the slow response on this one. Been busy relocating to another city and have had limited time/internet access for a while.  Just published 0.12.2 which should have your updates.

[2019-05-03 16:03] #293 closed

[2019-05-03 16:09] iSynaptic commented on #297
It's definitely something we'd like to support, but #268 probably isn't going to add support for it. That PR is already pretty big.  I'm working through simplifying the changes in #268 to get it landed sooner rather than later. Increasing the scope will only delay it longer.  I'll leave this issue open as a reminder to revisit and implement this.

[2019-05-03 16:13] iSynaptic commented on #279
@dvdplm Adding lifetimes to `ColumnFamily` has ended up being a bit of a nightmare from an ergonomic perspective.  I'd like to pursue an approach that doesn't need a lifetime but also doesn't run the risk of using a column family pointer after it's been deleted.  That change will likely impact how we go about removing locks from `cf_handle` - you probably won't see this issue.

[2019-05-03 16:13] valeriansaliou commented on #293
Perfect, thanks a ton! Bumping Sonic now on Crates 👍

[2019-05-05 05:58] pakipaki2000 opened #303 "clang-sys, not latest version"
error: failed to select a version for `clang-sys`.
    ... required by package `bindgen v0.47.0`
    ... which is depended on by `librocksdb-sys v5.18.3`
    ... which is depended on by `rocksdb v0.12.2`
versions that meet the requirements `^0.27.0` are: 0.27.0

current clang-sys: 0.28

Apparently you don't use the last version of Bindgen (0.49.0) and probably clang-sys.
I think it require an imme

[2019-05-05 15:10] elichai opened #304 "Minor versions bumping the sys lib"
Hi,
Should minor version changes bump the underlying rocksdb library?
how does this affect people who use dynamic linkage?

[2019-05-16 01:36] hjiayz opened #306 "bind ReadOption to Snapshot"
for example:
[code]

[2019-05-17 05:50] hjiayz commented on #299
https://github.com/hjiayz/rust-rocksdb/blob/7ba1f9d64abdc96c81b1415eb1685470f96e2eac/src/db_options.rs#L83

[2019-05-19 11:02] hjiayz opened #307 "impl clone for Options ReadOptions WriteOptions ..."
like this?

https://github.com/rust-rocksdb/rust-rocksdb/blob/7ba1f9d64abdc96c81b1415eb1685470f96e2eac/src/db_options.rs#L164

[2019-05-21 15:41] tokahuke commented on #29
What is the status on this bug? I dearly need this for a project of mine. Can I help with anything?

[2019-05-21 15:44] iSynaptic commented on #29
@tokahuke Unchanged since it was filed. What would help is confirmation one whether this is a bug with this Rust wrapper library, or if it is an issue with the upstream Facebook RocksDB library.  If it is upstream, it's likely nothing we can address here and an issue would need to be opened against the upstream library.

[2019-05-31 15:04] jonhoo opened #310 "Linking with system RocksDB"
https://github.com/rust-rocksdb/rust-rocksdb/pull/166 introduced the ability to link with an already-built instance of rocksdb (such as one installed system-wide). However, it requires that you explicitly give the path to search in (`ROCKSDB_LIB_DIR`, `SNAPPY_LIB_DIR`, etc.). It'd be really neat if rocksdb-sys checked if rockdb and snappy were available in the standard OS locations too (originally

[2019-05-31 15:04] jonhoo commented on #310
Related to this, it'd be great if these environment variables where documented in the README and the docs!

[2019-06-15 13:43] TheWaWaR commented on #144
@iSynaptic
https://github.com/facebook/rocksdb/pull/5077 already merged, and I saw the update appeared in the [latest release version](https://github.com/facebook/rocksdb/releases/tag/v6.1.2).

Can you please revisit current PR?

[2019-06-16 17:41] kirillt opened #312 "Cannot build the crate on CentOS 7"
Hello, I am building rust-rocksdb on CentOS 7 with latest gcc and clang available.

Compilation yields errors about non-existing clang libraries:

However, these .so files are present:

lrwxrwxrwx. 1 root root 20 jun 16 11:03 /usr/lib64/clang-private/libclangAST.so.6 -> libclangAST.so.6.0.1

-rwxr-xr-x. 1 root root 546088 jun 30  2018 /usr/lib64/clang-private/libclang.so.6.0

[2019-06-16 18:55] kirillt commented on #312
I checked compilation on different revisions and found that this commit causes the problem on my machine:

[2019-06-17 19:58] kirillt commented on #312
This seems to be a spontaneous bug.

I created new cloud instance with CentOS 7, installed fresh gcc, llvm and rust.
Everything was working perfectly, no errors.

At some point it started to yield this error again.

Yields modification date to be the same when the problem occurs.
Though I have no idea what could be changed within this directory.

[2019-06-17 22:57] kirillt commented on #312
The culprit is `llvm-private` package. After its removal everything works.

[2019-06-17 22:57] #312 closed

[2019-06-26 07:16] aleksuss commented on #279
Agree with @iSynaptic. Obviously returning a reference to `ColumnFamily` is a safe way only in this case.

[2019-06-26 07:29] dvdplm commented on #279
Maybe #298 can be merged then?

[2019-06-26 12:11] aleksuss commented on #279
#314

[2019-07-09 07:37] skyh24 opened #316 "cannot build librocksdb-sys"
my clang is newest

Compiling substrate-telemetry v2.0.0 (/Users/skyhigh/Blockchain/polka/substrate/core/telemetry)
Compiling substrate-peerset v2.0.0 (/Users/skyhigh/Blockchain/polka/substrate/core/peerset)
Compiling srml-support-procedural v2.0.0 (/Users/skyhigh/Blockchain/polka/substrate/srml/support/procedural)
error: failed to run custom build command for librocksdb-sys v5.18.3

Caused by:
pr

[2019-07-09 07:45] aleksuss commented on #316
@skyh24 what's a mac os version? As you can see the CI turned on for checking on mac os as well. And there is everything is ok.

[2019-07-09 08:24] skyh24 commented on #316
Mojave 10.14, and everything is ok newest version. why unknown type uint32_t, llvm is correct.which file is relevant?

[2019-07-09 08:50] aleksuss commented on #316
Look here https://github.com/mattn/go-sqlite3/issues/653

[2019-07-09 09:30] skyh24 commented on #316
Got it. I have 2 version of llvm on my mac. One is the newest the other is llvm@4.
Maybe some other package install it...
The env is llvm@4 so it is too old for compiling

[2019-07-31 16:00] schmidek opened #320 "CompactFiles"
Missing CompactFiles https://github.com/facebook/rocksdb/wiki/Manual-Compaction#compactfiles

[2019-08-09 08:44] freehere107 commented on #286
I try reinstall llvm, it solved, `brew upgrade llvm`

[2019-08-25 08:37] AurevoirXavier opened #321 "cross compiling got undefined reference"
building-machine: osx 10.14.6
target-machine: x86 linux
toolchain: nightly-2019-07-14-x86_64-apple-darwin
target: x86_64-unknown-linux-gnu

linker:

[code]

When I compiling the `openssl-sys` I got the same error. What I've done is compiling the `libcrypto.so` on target-machine and copy the lib to building-machine, and `export X86_64_UNKNOWN_LINUX_GNU_OPENSSL_LIB_DIR`.

But I don't know how to fix

[2019-08-25 09:21] AurevoirXavier commented on #321
Thanks to the [https://github.com/rust-rocksdb/rust-rocksdb/issues/310](https://github.com/rust-rocksdb/rust-rocksdb/issues/310).

After `export ROCKSDB_LIB_DIR` I got:

[code]

[2019-08-25 10:47] AurevoirXavier commented on #321
Now I got every dependency but:

[code]

[2019-08-25 13:17] #321 closed

[2019-08-26 19:51] bddap opened #322 "Cross compilation fails."
## To reproduce (macos)

[code]

<details>

<summary>Error log</summary>

[code]

</details>

## Cause:

`librocksdb-sys/build.rs` uses `cfg!(target_arch = "...")` to set flags for compilation. This is subtly incorrect. In the context of a build.rs file `cfg!(target_arch = "...")` is actually checking the ***host*** architecture; the architecture for which ***build.rs*** is being built.

In the ca

[2019-08-28 06:18] #322 closed

[2019-09-02 09:00] lming opened #324 "Any chance to make it work on iOS and Android?"
Hello,

I am trying to use rocksdb in a library shared across iOS and Android. However I got following errors. Anyone succeeded to use it on mobile?

For iOS, it stopped here:
https://github.com/rust-rocksdb/rust-rocksdb/blob/master/librocksdb-sys/build.rs#L38

[code]

When I tried to build for Android there is a different error:

[code]

[2019-09-03 01:03] nlfiedler opened #325 "Q: How to access the sequence number of an entry?"
Seems like RocksDB tags every entry with a monotonically increasing sequence number, and there might be some means of accessing that. In fact, it looks like getting a snapshot should return the current sequence number. Is this exposed somewhere in rust-rocksb and I just can't find it? Thanks for your help.

[2019-09-03 07:58] vitvakatu commented on #325
Does the RocksDB itself exposes this functionality? `rust-rocksdb` is just a binding and will not expose anything that is unavailable in a parent library.

[2019-09-03 15:47] nlfiedler commented on #325
Sorry, I should have looked for a reference sooner. Admittedly I'm not that good at reading large C code bases any more, but it looks like there are a couple of functions related to sequence numbers. There's `GetLatestSequenceNumber()` in `include/rocksdb/db.h` and another function named `rocksdb_get_latest_sequence_number()` in `db/c.cc` that invokes it. There are also numerous tests invoking `Ge

[2019-09-03 16:33] vitvakatu commented on #325
Thank you for a little investigation. This function is indeed exists in a public API (and Java bindings exports it as well). It would be fairly easy to add. If you want, you can send a PR (or I can do it myself).

[2019-09-03 16:40] nlfiedler commented on #325
You're much better off not letting me touch the code. :)

[2019-09-06 17:53] ebanutsa opened #327 "arch, older CPU, core dump upon test."
cargo test produces SIGILL on arch with all updates.
what gives?
here's gdb output.

(gdb) run
Starting program: /home/jr/rust-rocksdb/target/debug/test_db-82cdeaa46ee8052e
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/usr/lib/libthread_db.so.1".

Program received signal SIGILL, Illegal instruction.
0x0000555555611572 in std::__detail::_Prime_rehash_policy::_M_bkt

[2019-09-06 17:55] ebanutsa commented on #327
#https://github.com/romanz/electrs/issues/159

[2019-09-06 18:17] vitvakatu commented on #327
This kind of issues is extremely hard to debug, given the fact that I need to find an old CPU and run Arch on it...
Is `make check` of [rocksdb](https://github.com/facebook/rocksdb) works good to you?

[2019-09-06 19:44] ebanutsa commented on #327
give me some time, please, it's not gonna build instantly on this box..
from rocksdb readme...

By default the binary we produce is optimized for the platform you're compiling on (-march=native or the equivalent). SSE4.2 will thus be enabled automatically if your CPU supports it.

could this be the reason? i don't have SSE4.2 here.

[2019-09-07 04:43] ebanutsa commented on #327
make check throws some errors, if i do make watch-log i see most checks are passing. need more time with that, but i believe it's (mostly) working.

[2019-09-07 05:52] ebanutsa commented on #327
when i run tests individually they're passing, so i believe it's working.
make check on rust-rocksdb/librocksdb-sys/rocksdb produces errors on compilation.

[2019-09-07 10:44] vitvakatu commented on #327
I believe the problem might be in [this line](https://github.com/rust-rocksdb/rust-rocksdb/blob/master/librocksdb-sys/build.rs#L100). I suggest you to remove this entire `if` block (starting at line 95) and try compile it. If this is the reason, we will probably solve the problem by adding new cargo feature.

Another problem (I encountered it myself) can be some of the additonal libraries used for

[2019-09-07 13:02] vitvakatu opened #329 "Store upper_bound in DBIterator"
See https://github.com/rust-rocksdb/rust-rocksdb/pull/309

[2019-09-07 13:26] #325 closed

[2019-09-07 18:48] nlfiedler commented on #325
Fantastic, thank you. The reason I asked about the sequence number is that I want to implement a secondary index in RocksDB, and the sequence number is a very good way to detect stale index records. The project is here, https://github.com/nlfiedler/mokuroku -- still needs a lot of work though.

[2019-09-08 08:49] vitvakatu opened #330 "Improve error handling in iterators"
See discussion in #302

[2019-09-10 22:33] nlfiedler opened #331 "Wrap the GetUpdatesSince() function"
This function relies on the sequence number feature of RocksDB, and returns an iterator that yields every update made since that particular sequence. Since I saw how to add a function to rust-rocksdb earlier, I may submit a PR for this when the time comes (I'm not in a rush, just wanted to get this filed for now). Thanks for bringing RocksDB to Rust, it's been awesome.

[2019-09-11 05:48] vitvakatu commented on #331
Great, feel free to submit a PR!

[2019-09-12 03:30] nlfiedler commented on #331
Tried looking at how this could be added. The function in question takes a new kind of options (`rocksdb_wal_readoptions_t`) and returns a new kind of iterator (`rocksdb_wal_iterator_t`). From what I can tell, the options have no implementation of any sort, and are optional given the implementation of `rocksdb_get_updates_since()`. The iterator does not appear to have a factory function, and its A

[2019-09-12 06:34] vitvakatu commented on #331
You probably should look at the version 6.1.2 of the rocksb, cause we have a PR that will probably be merged soon (#328). By the way, this PR compiles on Linux and Mac, so you can try it yourself to look through generated code.

You can use `cargo doc --open` to get a full list of functions and types generated by the binding in `librocksdb-sys` crate. You can also open a file `target/debug/build/l

[2019-09-13 08:05] vitvakatu commented on #331
Perhaps you can create an issue in facebook/rocksdb repo and ask how to solve your problem in a ideomatic way?

[2019-09-13 16:27] nlfiedler commented on #331
First, thank you for being patient with me. I've finally understood how to get the underlying data: call `GetUpdatesSince()`, then for each iteration get the writebatch, and then iterate over the writebatch itself. However, it is not a normal iterator. From what I can tell, this will be the first time that callbacks are used in the Rust bindings, as the writebatch_iterate invokes application callb

[2019-09-13 18:10] vitvakatu commented on #331
I don't know the whole rust-rocksdb codebase yet, but maybe [SliceTransform](https://docs.rs/rocksdb/0.12.3/rocksdb/struct.SliceTransform.html) would give you some examples of dealing with callbacks. Don't hezitate to ask in case of troubles!

[2019-09-18 16:30] nlfiedler commented on #331
I'm stuck with how to handle the weird writebatch iterator callbacks. I've added a trait and the caller implements that to receive the writebatch put/delete callbacks. However, my lack of talent for properly handling the reference-to-pointer-to-reference conversion is causing a sigsegv when I run the test. If you look at this commit:

https://github.com/nlfiedler/rust-rocksdb/commit/f67b5ac559c7b4

[2019-09-18 18:13] vitvakatu commented on #331
It seems like you're doing slightly inappropriate things with converting to/from Box.

I managed to fix execution, but the test still fails (I do not have enough time right now to fully understand the reason). See the patch:

[code]

[2019-09-20 20:16] nlfiedler commented on #331
Fixed in commit 6e39fd715be16de157f0858540ae761a48785927

[2019-09-20 20:16] #331 closed

[2019-09-22 11:39] ebanutsa commented on #327
sorry that i didn't follow up things any earlier. yes, block commenting fixed the problem for me, cargo test runs great now on latest git version

[2019-09-22 12:42] ebanutsa commented on #327
i saw that you have switched to "flag_if_supported", but it hardly fixed anything for me, only when i comment out the whole if block it's working good.

[2019-09-22 14:15] vitvakatu commented on #327
I see, thanks for investigation. I will think on how to fix this problem.

[2019-09-24 08:32] ordian commented on #279
Is it resolved by #314? Any plans to release if so?

[2019-09-24 09:29] aleksuss commented on #279
Yes, it is. We plan to release it in near future.

[2019-09-24 09:29] #279 closed

[2019-09-26 06:50] #149 closed

[2019-09-27 20:56] alex88 opened #335 "Cannot compile librocksdb-sys on beta"
I'm trying to include rust-rocksdb into an app that uses tokio 0.2 (so async await) and trying to compile using 1.39.0-beta.1 I get these errors:

[code]

I've also tried with nightly and I get the same problem, using nightly 2019-09-20 and 2019-09-10 instead it compiles just fine.

Sorry if this isn't a librocksdb-sys issue (maybe it's a bingen issue) but I'm a beginner in rust so I'm not 100% su

[2019-09-28 08:11] vitvakatu commented on #335
Hi! Thank you for creating an issue. We're aware of this problem and we forced to disable `beta` channel on Travis because of it.
However, the only solution I can suggest to you is to switch to `stable` compiler.
The reason is that this issue will never appear in stable, according to https://doc.rust-lang.org/nightly/src/core/array.rs.html#385

    reason = "will never be stable, just a temporary

[2019-09-28 17:08] nbdd0121 opened #336 "DBVector and DBPinnableSlice's Send/Sync"
I'm using rust-rocksdb in async environment so it involves potentially moving DBVector and DBPinnableSlice between multiple threads, and I noticed that both of them are automatically `!Send` and `!Sync` due to usage of raw pointer. This is overly restrictive.

Both of them are definitely `Sync` as they just points to a chunk of immutable memory.

DBVector is just a thin wrapper around a buffer all

[2019-09-28 17:10] vitvakatu commented on #336
Thank you for creating an issue. We will check if it's possible soon. Do you want to create a PR?

[2019-09-28 18:45] nbdd0121 opened #337 "A new approach for DB::get"
I've digged through source code of rocksdb, and realize that if we use DB::get, then:
* Rust calls C API's rocksdb_get
* rocksdb_get create a C++ std::string, and calls C++ API's DB::Get
* DB::Get uses pinned api internally and copy it to the given string
* rocksdb_get copies the string to the malloc'ed slice

This looks incredibly inefficient to me. I think it'll be more efficient if we instead m

[2019-09-28 19:10] nbdd0121 commented on #336
I'm okay with creating a PR, it'll pretty much be adding a few lines that re-use the justification of #318. But i couldn't assert the `Send`ability of DBPinnableSlice.

[2019-09-28 21:18] alex88 commented on #335
@vitvakatu oh ok, thank you! I'll use the working nightly until 1.39 goes to stable as I still need await/async.
I'll close this issue since there's nothing you can do about it.

[2019-09-28 21:18] #335 closed

[2019-10-01 08:32] alex88 commented on #174
I've the same problem on ubuntu 19:04 `ubuntu:rolling` image, I've installed
[code]
but I get the same missing `stdarg.h` error

[2019-10-01 15:29] alex88 commented on #174
@cetra3 in the meantime did you find a solution?

[2019-10-02 03:49] cetra3 commented on #174
@alex88 I managed to get it to compile a while ago. See my [comment here](https://github.com/rust-rocksdb/rust-rocksdb/issues/174#issuecomment-409410115), this may not be valid anymore

[2019-10-02 04:09] alex88 commented on #174
@cetra3 I've solved mine by installing `clang`, since I was getting an header problem I thought it was a lib package needed, not one with the binaries like `clang`

[2019-10-02 14:41] alex88 commented on #174
@cetra3 it actually is, for some reason since I had an header missing I thought `libclang-dev` would've been enough instead it needed `clang` as well

[2019-10-19 13:35] rw opened #341 "Will librocksdb-sys work on nightly in the future?"
Following up from issue https://github.com/rust-rocksdb/rust-rocksdb/issues/335, I need to know if rocksdb will start working again on nightly at some point. Thanks!

[2019-10-19 14:15] aleksuss commented on #341
The next release will be working. I believe.

[2019-10-22 12:40] rw commented on #341
@aleksuss Would you recommend that I use the `master` branch in the meantime?

[2019-10-22 12:46] aleksuss commented on #341
@rw Yes. I would. But you should consider that the master branch has breaking changes already.

[2019-10-22 12:48] rw commented on #341
@aleksuss Breaking API changes? No big deal! Those are an improvement over a library that doesn't compile  :-]

[2019-10-30 17:37] nbdd0121 commented on #337
* rocksdb_get: https://github.com/facebook/rocksdb/blob/master/db/c.cc#L885
* DB::Get w/ std::string: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/db.h#L394
* CopyString: https://github.com/facebook/rocksdb/blob/6ec6a4a9a49e506eff76aebd104d30be6a2d36cc/db/c.cc#L474

[2019-11-02 02:53] expenses commented on #310
This would be really useful!

[2019-11-02 15:51] cculianu commented on #335
I cannot build librocksdb-sys on beta (I also need beta for the async/await stuff) either on MacOS Mojave, Xcode 11.1, using macports.

I'm getting this error:

[code]

Please advise?

[2019-11-02 16:52] aleksuss commented on #335
@cculianu Yes. It's a known issue. Try to use `librocksdb-sys` from `master`.

[2019-11-02 17:21] cculianu commented on #335
I see. So it will work then?

Apologies but: I'm a nub to the rust world -- I am literally just trying to compile a project a collaborator of mine created so I can get it to work on my macos system (he's doing the server side and I am doing the client in an entirely different language).  I just want his server to compile so I can run it here... without having to use a Linux VM (in Linux it compile

[2019-11-02 17:37] cculianu commented on #335
I think I figured it out - I am pointing his rocksdb dependency to your repository here rather than 0.12.4.

It's building now...

[2019-11-02 17:40] cculianu commented on #335
ZOMG it compiled! THANK YOU FOR THE REPLY. Literally had no idea what to do. Thanks.

[2019-11-04 22:14] rw opened #347 "Can we implement Send on WriteBatch?"
In Rust, I am writing code where I construct WriteBatch objects in a worker thread, then I use a channel to send WriteBatches to a different thread for writing to RocksDB.

Because a WriteBatch does not depend on external state (it does not reference a DB object), I think it would be safe to add an implementation for Send to WriteBatch.

Is this correct?

[2019-11-05 06:31] vitvakatu commented on #347
Well, I think it is entirely possible. I suppose we forgot about it in https://github.com/rust-rocksdb/rust-rocksdb/pull/318. Do you want to submit a PR?

[2019-11-06 07:21] #336 closed

[2019-11-06 07:21] #337 closed

[2019-11-06 19:11] YaronWittenstein commented on #341
@aleksuss do you have any ETA for the next release?
Thanks!

[2019-11-07 12:13] aleksuss opened #348 "Release 0.13.0"
@iSynaptic @vitvakatu what do you think about to create a release 0.13 ? Any concerns ?

[2019-11-07 12:33] vitvakatu commented on #348
No really blockers I think.

[2019-11-07 14:14] iSynaptic commented on #348
I have no objection, but we should confirm that it works with the latest stable, `1.39.0`, which was released today.

[2019-11-08 00:29] garious commented on #348
1.39.0 worked for me on HEAD, but not on v0.12.4.

[2019-11-08 07:58] aleksuss commented on #348
@garious I've released a patch version of `librocksdb-sys`. It should be ok now. But don't forget to run `cargo update` before rebuild.

[2019-11-09 10:58] bkchr commented on #279
@aleksuss what is the status of releasing it? :)

[2019-11-09 11:03] dvdplm commented on #324
For android there was [this](https://github.com/rust-rocksdb/rust-rocksdb/pull/343) that was merged recently. Does that help?

[2019-11-09 12:31] aleksuss commented on #279
@bkchr I think we will do it next week.

[2019-11-12 12:58] aleksuss commented on #348
PR for release #351

[2019-11-12 22:56] rw commented on #260
I'd like to bump the importance of this issue. In particular, enabling settings equivalent to [`PrepareForBulkLoad`](https://github.com/facebook/rocksdb/blob/6ec6a4a9a49e506eff76aebd104d30be6a2d36cc/options/options.cc#L376) is important to my use case.

[2019-11-14 16:02] #348 closed

[2019-11-14 16:03] aleksuss commented on #341
@rw could you please close the issue ?

[2019-11-15 16:41] jonhoo commented on #310
The [build file for `openssl-sys`](https://github.com/sfackler/rust-openssl/blob/master/openssl-sys/build/main.rs) may be a good place to draw on from inspiration here.

[2019-11-16 00:42] ailisp opened #352 "batch.delete doesn't return error when key not exist and thus batch isn't atomic"
In this snippet:
[code]
I expect `batch.delete(b"c")` returns an error, as its doc saying:
[code]
But that unwrap doesn't panic.

I then expect the `db.get(b"a")` will get `Some(b"b")` because `WriteBatch` is documented as
[code]

But it panics at `assert_eq!`, saying value is `b"bb"`, this indicates the `put` in batch committed to db but delete fail just silently ignored. Expected result: the who

[2019-11-21 05:53] lovesegfault commented on #310
I'm working on this

[2019-11-25 04:28] Arnaz87 opened #355 "failed to run custom build command"
[code]

[code]

[2019-11-25 05:26] Arnaz87 commented on #355
The fix is in the same error message, I forgot to update the submodules

[2019-11-25 05:26] #355 closed

[2019-11-25 07:36] romanz commented on #327
Could we use [rust-cpuid](https://github.com/dlrobertson/rust-cpuid) to conditionally disable [the compilation flags above](https://github.com/rust-rocksdb/rust-rocksdb/blob/3c810163091fb8d343a3fa8373edd4b5685ed84d/librocksdb-sys/build.rs#L98-L108) for older processors?

[2019-11-25 07:59] aleksuss commented on #327
@romanz

[2019-11-25 17:28] romanz commented on #327
Oops, you're right.

[2019-11-25 19:37] ailisp opened #356 "Lacking lifetime on iterator_cf(_opt)"
DB.iterator_cf and DB.iterator_cf_opt lacks a similar lifetime definition like iterator_opt/iterator_opt:
[code]
Lack of this make you unable to write a function that takes a &DB and return a DBIterator

[2019-11-27 00:53] nearmax commented on #356
Actually, I think it does not make sense for `'b` to have a larger scope than `'a` and `iterator_cg` and `iterator_cf_opt` should be redone. The iterator should not outlive the object it is iterating over (the database). What am I missing?

[2019-12-03 22:53] FlorentinDUBOIS opened #359 "RocksDB dependencies upgrade to 6.4.6"
Hi!

I upgrade the rocksdb version from [facebook/rocksdb@76a56d89a](https://github.com/facebook/rocksdb/commit/76a56d89a7740f8dbb01edabf1ea5abc95a67657) to [facebook/rocksdb@e3169e3ea8](https://github.com/facebook/rocksdb/commit/e3169e3ea8762d2f34880742106858a23c8dc8b7).

I have a branch [here](https://github.com/FlorentinDUBOIS/rust-rocksdb/tree/feat/rocksdb/6.4.6) with the modification.

How co

[2019-12-04 07:46] vitvakatu commented on #359
Hello.

You can create a PR and our Travis will do the testing part.

[2019-12-09 13:18] #359 closed

[2019-12-12 01:59] hjiayz opened #361 "DBIterator segmentation fault"
[code]
unsafe

[2019-12-13 09:54] falcolombobby opened #362 "Lengthy compaction triggered when number of files in level 0 not at limit"
Hi! I've configured my database as follows:
   max_write_buffer_number: 8,
   write_buffer_size: 256 MB
  level_zero_file_num_compaction_trigger: 4
  max_bytes_for_level_base: 256 * 4
  target_file_size_base: (256 * 4) / 10

I'm seeing almost a 20 second compaction occur in my logs when there are only 2 files in level 0, even though level_zero_file_num_compaction_trigger = 4. I've included the log

[2019-12-13 11:32] vitvakatu commented on #362
Hello. Can you reproduce the issue using C/C++ API https://github.com/facebook/rocksdb ?

[2019-12-13 21:57] ailisp opened #363 "Portable build that support cpus older than Intel Haswell"
CPU older than Intel Haswell (e.g. sandy bridge and ivy bridge) doesn't have avx2. Currently rust-rocksdb  doesn't provide an option to compile it without avx2. rocksdb itself has a PORTABLE option in cmake, so passing a PORTABLE flag to it will be make a portable build: https://github.com/facebook/rocksdb/blob/e3169e3ea8762d2f34880742106858a23c8dc8b7/CMakeLists.txt#L222

Reference: parity's fork

[2019-12-16 11:13] vitvakatu commented on #363
Probably duplicates #327

[2019-12-28 14:02] Andy320 opened #365 "why does destroy be panic?"
I want to know the reason  why destroy method should be panic.

thanks
---------------------------------------
[code]

[2020-01-04 07:02] yanganto opened #368 "Can not build for Linux"
I can not build `librocksdb-sys` on Archlinux with nightly Rust (rustc 1.42.0-nightly c5840f9d2 2020-01-03), but I think the problem is not related to Archlinux or nightly build.  I also build fail with stable Rust (rustc 1.40.0 73528e339 2019-12-16).

[code]
And I dig to the command got this error message

[code]

I have no idea to fix it.  If someone know how to fix this, please kindly help me.

[2020-01-04 07:11] yanganto commented on #368
The error part of `bindings.rs`
[code]

[2020-01-05 08:26] yanganto commented on #368
Someone ran into this problem before, but I reinstall everything from `rustup` and the library can build success.
https://www.reddit.com/r/rust/comments/b90fcj/error_compiling_librocksdbsys/

[2020-01-05 08:26] #368 closed

[2020-01-07 15:10] AvishaiW opened #370 "Prefix_iterator_cf unexpected keys"
Hey,
In my project, I'm creating a db with a code similar to this:
[code]

In each CF I have keys with 3 different prefixes (1, 2 and 3), and many times I use `prefix_iterator_cf` in order to run only on keys with the same prefix.
this is working as expected as long as the DB is created from scratch. When not created from scratch- I can see all of the data stored inside, however, when running `pre

[2020-01-09 08:19] AvishaiW commented on #370
I have a feeling it's got to do with the fact that the previous options aren't loaded from the stored options file: https://github.com/facebook/rocksdb/wiki/RocksDB-Options-File
My options file version is:
[code]

[2020-01-10 13:36] aleksuss commented on #370
Is such code on your host outputs different results ?
[code]

[2020-01-10 13:44] aleksuss commented on #370
By the way, you can write a test that fails on your case and create a PR with it.

[2020-01-11 21:01] AvishaiW commented on #370
the correct code for my example should be the following:
[code]
I added the DB options to the CF's as well.
In this case, we get 2 different results.

I'm not so familiar with `ffi` but I'll try to understand it and add a PR if I manage.
where is the original code brought from?
Thanks!

[2020-01-12 08:54] aleksuss commented on #370
https://github.com/facebook/rocksdb

[2020-01-12 09:57] aleksuss commented on #370
I got it. The `open_cf` method isn't appropriate for your case. Because it creates column families with default options. Take a look: https://github.com/rust-rocksdb/rust-rocksdb/blob/master/src/db.rs#L772
`open_cf_descriptors` is what you need. So correct version of `open_db` method should look like this:
[code]

[2020-01-13 11:33] #361 closed

[2020-01-13 11:58] aleksuss commented on #365
Ideally, the `destroy` method SHOULDN'T be panic. In you case a panic occurs because you try to destroy a database when it still opens. A closing database happens when a destructor invokes. And destructor invokes when a variable goes out of scope or via `drop` method. So the correct version of your test should be:
[code]
or
[code]
P.S. `DBPath` invokes `DB::destroy` in its destructor.
https://gith

[2020-01-15 01:23] wqfish commented on #352
This behavior is expected -- see https://github.com/facebook/rocksdb/blob/1dd7873e08c1f55dabb8451f1b8795fcdb012887/include/rocksdb/write_batch.h#L85

The doc needs to be fixed.

[2020-01-15 15:08] #224 closed

[2020-01-17 02:26] mappum opened #378 "Allow setting atomic_flush option"
There is currently no way to set `atomic_flush`, and it defaults to 0. This is an important setting that my application depends on for consistency.

[2020-01-17 03:10] mappum commented on #378
Note that RocksDB doesn't currently add a `rocksdb_options_set_atomic_flush` method so the bindings don't have a way to set this option yet.

[2020-01-17 07:35] mappum commented on #378
I opened a PR on RocksDB: https://github.com/facebook/rocksdb/pull/6307

Until then, could it make sense to change the RocksDB submodule to target my fork, or possibly merge my changes into a `rust-rocksdb/rocksdb` fork?

[2020-01-21 21:59] crusty-dave opened #381 "Question: should librocksdb-sys v6.2.4 build with Visual Studio 2019?"
Here is the version of clang:

[code]

If I set LIBCLANG_PATH to point there:

[code]

I still get an error:

[code]

Thanks in advance to any guidance,
-Dave

[2020-01-22 12:11] L-KH opened #382 "error: failed to run custom build command for `librocksdb-sys v5.18.3` Windows"
Compiling librocksdb-sys v5.18.3
   Compiling cennznet v0.9.25-beta (C:\Users\charingane\Desktop\cennznet-master)
error: failed to run custom build command for `librocksdb-sys v5.18.3`

Caused by:
  process didn't exit successfully: `C:\Users\charingane\Desktop\cennznet-master\target\debug\build\librocksdb-sys-b28aaa0ace6f4e98\build-script-build` (exit code: 101)
--- stdout
cargo:rerun-if-changed=

[2020-01-22 14:02] AvishaiW commented on #370
@aleksuss Thanks! this fixed my bug.

[2020-01-22 14:02] #370 closed

[2020-01-26 14:11] vitvakatu commented on #382
Hello, thank you for creating an issue. Are you depending on a particular rocksdb version?
Latest librocksdb-sys version is `6.2.4`, with `rocksdb` version `0.13.0`. It has the same problem though, I'm asking if we need to back-port the fix to the `5.18.3`

This issue is a dublicate of #381

[2020-01-26 14:21] vitvakatu commented on #381
Hello, thank you for creating an issue.

I can't reproduce it on my own machine with Windows 10.
- I do not have `C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\VC\Tools\Llvm`; I have only VS Build Tools 2017.
- I have LLVM installed using [official Windows installer](http://releases.llvm.org/download.html). However, I'm not sure if this is needed for building the library on Window

[2020-01-26 14:25] #352 closed

[2020-01-26 14:33] vitvakatu commented on #378
Thank you implementing this feature!

I don't think we should do it until new facebook/rocksdb version released. For your projects, I suggest to use [overriding dependencies](https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#overriding-dependencies).

[2020-01-28 16:58] jonhoo opened #384 "Old version of bindgen brings in old dependencies"
The newest version of `bindgen` is `0.52.0`. It'd be good to update to it so that various transitive dependencies also get updated.

[2020-01-28 17:00] jonhoo commented on #384
In _particular_, the old `bindgen 0.49` brings in pre-1.0 versions of `quote` and `proc-macro2`, which is unfortunate

[2020-02-08 02:09] shepmaster opened #386 "Lifetime handling on iterators appears incorrect, leads to crashes and is likely undefined behavior"
You are able to return an iterator that has zero relation to the database it comes from:

[code]

When running this purely-safe Rust code, an error occurs and the program crashes:

[code]

valgrind has this to say:

[code]

- Rust 1.41
- rocksdb 0.13.0
- macOS; Linux

/cc #356

[2020-02-08 02:14] shepmaster commented on #386
/cc original authors and reviewers @ngotchac @vitvakatu @ozkriff @aleksuss

[2020-02-17 16:45] #384 closed

[2020-02-17 19:52] jonhoo commented on #310
@lovesegfault How's your progress on this? Building rocksdb is by far the biggest part of my project's build time at the moment :cry:

[2020-02-17 20:29] aleksuss commented on #310
What is a problem to use system library now? AFAIK, it works via pkg-config or env variable well.

[2020-02-17 20:35] jonhoo commented on #310
@aleksuss Well, on current `master`, if I try to build `librocksdb-sys`, it still spins up a bunch of C++ compiler instances, even though I have rocksdb installed as a system-wide library:
[code]

[2020-02-17 21:18] lovesegfault commented on #310
I had stopped working on this because other things took priority in the office. I'm going on vacation for the next ~2 weeks, so hopefully I can pick this back up :)

[2020-02-17 23:21] leisim opened #390 "RocksDB lite"
Is it possible to use the [lite version](https://github.com/facebook/rocksdb/blob/master/ROCKSDB_LITE.md) of RocksDB? For a simple program using `rust-rocksdb` I get a binary size of 2MB which is too much for small apps on mobile devices...

Are there other ways to reduce the binary size apart from setting `default-features = false`?

[2020-02-18 08:14] vitvakatu commented on #390
Hello. AFAIK, we do not support lite version yet. There are several ways to reduce the size of the binary, which might work in your case:
1. Obviously, use `--release` for production builds, it greatly reduces size
2. Use static linking whenever possible. RocksDB can be linked statically - to do so, either build RocksDB from source (do __not__ set `ROCKSDB_LIB_DIR`), or set `ROCKSDB_STATIC=1` env.

[2020-02-18 08:24] leisim commented on #390
Thanks for your fast answer. I already applied all of your suggestions apart from stripping the release. Is around 2MB binary increase expected when using RocksDB?

[2020-02-19 07:25] aleksuss commented on #378
@mappum could you please describe your case which, in your opinion, requires this option ?

The quote from [here](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1088).

[2020-02-19 07:59] #356 closed

[2020-02-19 07:59] #386 closed

[2020-02-19 11:27] vitvakatu commented on #390
Well, on my machine:
[code]

So I suppose 2MB is more than possible after all the optimizations. Looking at the size of librocksdb_lite, it can lead to ~1 MB increase. Unfortunately, I don't know whether it is easy (or even possible) to support RocksDB Lite in this crate.

[2020-02-19 22:11] mappum commented on #378
@aleksuss The WAL is always disabled in my application, since all the operations are already persisted via Tendermint BFT consensus. In the event of a machine crash that loses writes, Tendermint would just replay the previous transactions and my RocksDB store would deterministically rebuild the lost writes. Disabling the WAL gives a significant performance increase.

Although, this use case isn't

[2020-02-20 09:29] lovesegfault commented on #310
Note that #354 doesn’t add any library discovery magic. Mostly because RocksDB doesn’t support pkg-config or any other similar tool.

In the future a simple clause to that looks for the libraries in the usual places in case the corresponding envvar isn’t set could easily be added.

[2020-02-20 15:03] jonhoo commented on #310
Ah, I see, so if the crate _currently_ fails to find a system-wide RocksDB, that will continue to be the case. I wonder what's making it fail. Maybe it looks for _exactly_ the same version of the `.so`, not just a compatible one?

[2020-02-21 05:33] lovesegfault commented on #310
Well, the current crate will attempt to find a system rocksdb and vendor if it can't. #354 means you select, through a feature, whether to vendor or not. If you don't vendor, then you must set `ROCKSDB_LIB_DIR` and if you don't you'll get a helpful error message.

I can add a follow up that attempts to find the lib if the envvar isn't set, I'm just generally not a fan of that behavior.

[2020-02-21 13:58] jonhoo commented on #310
@lovesegfault Not sure I'm reading that correctly? So, you're saying that currently, if `ROCKSDB_LIB_DIR` is _not_ set, then rocksdb _will_ vendor? And the _only_ way to have it link with the system-wide lib is by setting `ROCKSDB_LIB_DIR`?

I'm curious -- why is it you would be against using the system library by default? Vendoring brings _huge_ compile times, and I'm not sure what the upside is?

[2020-02-21 19:24] lovesegfault commented on #310
@jonhoo
**Current Behavior**
`librocksdb-sys` will look for `ROCKSDB_LIB_DIR` envvar. If it is set it will link to the `.so` in that dir. If it is not set, then it will vendor rocksdb as an alternative. The _exact_ same behavior also happens for the compression libraries such as `bzip2`, with the variable there being `BZIP2_LIB_DIR`, for example.

**New behavior**
`librocksdb-sys` has a new (defau

[2020-02-21 19:26] jonhoo commented on #310
Doing this with a feature is a little odd, because it means that if _any_ crate in your dependency tree includes `rocksdb` with the `vendor` feature set, then RocksDB will be vendored. It won't make much of a difference for small crates, but for a large binary that may have multiple transitive dependencies on RocksDB, it makes it pretty likely that there is no way to opt out of vendoring..

[2020-02-21 20:37] lovesegfault commented on #310
@jonhoo That's true, how else do you imagine this working?

IMHO there should be no vendoring at all, vendoring is the root of all evil. If @aleksuss and other maintainers would allow it I'd prefer to get rid of vendoring alltogether.

[2020-02-21 20:41] jonhoo commented on #310
I agree with you -- the solution is to not vendor. At the very least, vendoring should not be in the default feature set. One option is to have vendoring be opt-in using an environment variable.

[2020-02-22 01:21] lovesegfault commented on #310
That could be done, @aleksuss @vitvakatu what are you guys' thoughts?

[2020-02-22 09:15] vitvakatu commented on #310
Features are indeed hard to control in case of transitive dependencies, and compiling RocksDB from source costs a lot (for our project, it's about 30% increase of the build time!). However, I don't like the idea of complete removing of vendoring. On some platforms we do not have newest rocksdb version available: we were even forced to make our own PPA for older Ubuntu distributions.

So, I'd prefe

[2020-02-22 15:43] jonhoo commented on #310
@vitvakatu Yeah, I think "inverting" the behavior so that users opt-in to vendoring is probably the right way to go :)

Note that I do not have any env vars set, so I believe this is intended behavior per today?

[2020-02-22 16:11] lovesegfault commented on #310
Alright, I inverted the behavior :)

[2020-02-22 16:16] jonhoo commented on #310
@lovesegfault I think if we are inverting the behavior, then it's probably also necessary to have `build.rs` search for `rocksdb` in `/usr/lib` or something by default. Otherwise a bunch of users are suddenly going to get compilation errors since they do not have the env var set.

[2020-02-24 06:45] lovesegfault commented on #310
Alright, so pending work is::
- Library discovery
- Turn `vendor` feature into envvar

[2020-03-03 16:24] methyl commented on #260
@rw is there any setting in `PrepareForBulkLoad` that is unavailable now, or you rather need a convenience method to setting it in one pass?

[2020-03-09 11:49] ansjsun commented on #213
@iSynaptic  I can not found `ReadOnlyDB` in master branch .

[2020-03-24 16:09] akhilman commented on #327
Could we have a feature flag to disable sse?

[2020-04-03 14:05] flipchan opened #400 "[Feature request]install script for debian"
Hey,
Could you provide a install script for debian?
im failing on getting it to run on debian,
Thanks!

[2020-04-06 14:10] flipchan commented on #400
[code]

[2020-04-06 14:21] aleksuss commented on #400
Hello. Have you installed a clang package ?

[2020-04-06 14:48] flipchan commented on #400
yeah apt install clang worked

[2020-04-06 14:49] flipchan commented on #400
https://stackoverflow.com/questions/20206290/fatal-error-stdarg-h-file-not-found

[2020-04-06 14:49] #400 closed

[2020-04-07 12:49] #378 closed

[2020-04-08 02:36] mvines opened #401 "Please ship the changes since 0.13.0"
There are some nice features that have landed in the master branch since 0.13.0 was shipped.  Would it be possible see a 0.13.1 or 0.14.0 on crates.io soon?   Thanks!

[2020-04-08 11:46] #299 closed

[2020-04-08 11:46] #329 closed

[2020-04-08 11:49] aleksuss commented on #401
Yeah. I plan to publish a new release in the near future.

[2020-04-12 04:41] mvines commented on #401
@aleksuss - when can I expect a new release?  Thanks!

[2020-04-14 15:02] flipchan opened #404 "brakes when multithreading"
The lib brakes when being used by multiple threads at the same time,

<unnamed>thread '<unnamed>' panicked at 'called `Result::unwrap()` on an `Err`
 value: Error { message: "IO error: lock : /tmp/cache-db/LOCK: No locks availa
ble" }', src/libcore/result.rs:1188:5' panicked at '
called `Result::unwrap()` on an `Err` value: Error { message: "IO error: lock
: /tmp/cache-db/LOCK: No locks available"

[2020-04-15 06:12] dvdplm commented on #401
Let me know if I can do anything to help! :)

[2020-04-15 11:29] ordian commented on #404
You can open the db in one thread, then store the result in an `Arc` and pass that handle to other threads.

[2020-04-15 12:05] aleksuss commented on #404
Or you can wrap a database with `Arc<SharedLock<DB>>` or something like this. In a nutshell you should provide a logic for sync access to a database by yourself.

[2020-04-15 12:18] aleksuss commented on #401
I plan to publish 0.14 release after merge #402.

[2020-04-17 08:55] flipchan commented on #404
@aleksuss has anyone done this ?(any code examples?)

[2020-04-17 08:59] aleksuss commented on #404
@flipchan take a look here https://github.com/exonum/exonum/blob/master/components/merkledb/src/backends/rocksdb.rs#L103

[2020-04-22 10:16] ordian commented on #401
@aleksuss now that #402 is merged, is it blocked on adding tests in #406?

[2020-04-22 10:25] aleksuss commented on #401
@ordian exactly. I want to add the feature from #406 as well. It seems to be useful and extends the public API. Let's wait a little.

[2020-04-22 14:55] winstonewert opened #407 "ColumnFamily is Send but not Sync"
ColumnFamily is marked as Send but not Sync. But since I can only get a reference to ColumnFamily this doesn't seem useful. Rather it seems that it should be Sync.

[2020-04-22 15:42] aleksuss commented on #407
Could you please describe a case when you really need it ? It seems to be `Send` is unnecessary now.

[2020-04-22 15:50] winstonewert commented on #407
Basically, I was trying to do something like:

[code]

The map closure needs to be Sync because it will run in parallel in many threads. But I can't do this because the cf isn't Sync.

[2020-04-22 17:09] mvines commented on #401
A more rapid release model would be nice.  `cargo publish` is pretty quick.

[2020-04-22 17:20] dvdplm commented on #401
Not sure if it's intentional or not but your comment sounds impolite. Please let's be respectful of the maintainers here and remember that we paid them $0 for their work.

[2020-04-22 18:01] aleksuss commented on #401
Done with #408

[2020-04-22 18:01] #401 closed

[2020-04-22 20:30] mvines commented on #401
Thanks for shipping 0.14.0 @aleksuss. My previous comment was absolutely not intended to be impolite.  I'm very grateful for this project and appreciate their efforts.   Thank you.

[2020-04-23 07:48] xuchen-plus opened #410 "MergeFn that returns &[u8] and reduce copy?"
In my case, I need to merge values with flatbuffers builder, which returns &[u8] that refers to inner object of the builder.
In order to pass this &[u8] to rocksdb, I have to copy it to a new Vec<[u8]>, which will be copied again in the full_merge_callback, and will be copied once more by rocksdb itself.
In this case, the buffer would be **copied 3 times**.
It would be better to allow MergeFn retu

[2020-04-23 08:58] ordian opened #411 "0.14 doesn't build on windows"
Tried with msvc 2015, 2017 and 2019 toolchains, same error
[code]

[2020-04-23 09:03] ordian commented on #411
To be precise, the problem is with `librocksdb-sys`, note that it can be automatically updated from 6.2 to 6.7 in `Cargo.lock` even for rocksdb 0.13, because these versions are semver compatible. But RocksDB doesn't follow semver, so using the same versions for the `-sys` crate causes problems. They could be alleviated by pinning a certain version of the `-sys` crate [here](https://github.com/rust

[2020-04-23 09:08] aleksuss commented on #411
Yes. I suppose I know how to fix it. I create a PR soon.

[2020-04-23 11:26] aleksuss commented on #411
@ordian i've released `librocksdb-sys 6.7.4` with fix. It should help if you use `rocksdb` as dependency.

[2020-04-23 11:27] ordian commented on #411
Fixed by #412 and released in #413.

[2020-04-23 11:27] #411 closed

[2020-04-23 11:27] ordian commented on #411
@aleksuss thanks for the quick fix!

[2020-04-23 12:14] xuchen-plus opened #414 "ReadOptions::fill_cache is not public?"
`fn fill_cache(&mut self, v: bool);`
Any chance that this can be a pub fn?

[2020-04-26 16:21] Andy320 opened #418 "An error when linking librocksdb.a"
OS: ubuntu18.04
llvm: 9
gcc: 7.5
musl: installed by "apt-get install musl-dev musl-tools"

Actually I made a docker image with llvm added into based on rust-musl-builder :
https://github.com/emk/rust-musl-builder/blob/master/Dockerfile

when building my rust code which depends on rust-rocksdb in the above docker,
the static lib was created under the directory
"target/x86_64-unknown-linux-musl/rele

[2020-04-26 16:49] Andy320 commented on #418
I search the key words and find a similiar issue about another rust project.
Paste it here, not sure is it helpful?

[https://github.com/rust-bio/rust-htslib/issues/80](url)

[2020-04-28 09:13] vitvakatu commented on #418
Hello

Did you try to disable all features, including `lz4`? I experienced some issues with this feature enabled on Linux.

[2020-04-28 09:23] vitvakatu commented on #414
Hello

I think it should be possible. Care to submit a PR? This function probably needs documentation and some unit tests (if possible).

[2020-04-28 09:26] vitvakatu commented on #410
Hello

I don't think it is true. @aleksuss looks like UB, huh?

[2020-04-28 09:52] vitvakatu commented on #407
Makes sense to me, RocksDB must manage multithreading access in this case.

[2020-04-28 09:58] vitvakatu commented on #327
I'd rather see a feature flag to enable sse (of course, it should be properly documented)

[2020-04-29 03:09] Andy320 commented on #418
@vitvakatu
In release mode , librocksdb.a is created but linking error. I tried it in debug mode again, and failed to build the librocksdb.a before the linking. The error is like somehow "undefined reference to symbol '[another one]@@GLIBC_2.3.[3](not 2.3.4)'".
So now I am not sure whether rocksdb-sys supports musl libc, i.e. rustup target: x86_64-unknown-linux-musl
Now I am compiling llvm10 using

[2020-05-01 14:39] Andy320 commented on #418
[ubuntu18.04/llvm10(downloaded binary)/x86_64-unknown-linux-gnu] ==>ok
[centos7/llvm10(compiled with gcc9.1)/x86_64-unknown-linux-gnu] ==> ok
[Darwin19.3/llvm9(packaged)/x86_64-apple-darwin] ==> ok
[ubuntu18.04/llvm10(downloaded binary)/x86_64-unknown-linux-musl] ==> failed

close this issue.

thanks all

[2020-05-01 14:39] #418 closed

[2020-05-02 06:02] Andy320 commented on #365
@aleksuss
sorry for replying later. drop method will do the right thing at the right time.
thanks you .
close this question.

[2020-05-02 06:02] #365 closed

[2020-05-03 18:28] calavera opened #422 "rerun-if-changed directives in librocksdb-sys don't work"
I'm not completely sure if this is a problem with the build.rs script in librocksdb-sys or with cargo.

I'd expect librocksdb-sys to not build RocksDB if nothing changes in that workspace. However, `cargo build` builds librocksdb-sys every time it runs.

I tried adding an extra guard for the C bindings in a branch but that didn't work either. I'm including below what I changed. Does anyone know wh

[2020-05-03 19:41] calavera commented on #422
nevermind, those directives are only for rustc, so they won't work for cc::Build.

[2020-05-03 19:41] #422 closed

[2020-05-07 09:34] xuchen-plus commented on #414
Sure. I'll submt a PR later.

[2020-05-07 09:39] xuchen-plus commented on #410
Hi, thanks for your reply. Based on my reading on the rocksdb's C API impl ([https://github.com/facebook/rocksdb/blob/master/db/c.cc#L370](url)), the returned raw buffer will be copied into the MergeOperationOutput::new_value field (which is a std::string) immediately.

[2020-05-08 02:30] jparr721 opened #426 "Rocksdb Fails to Register Merge Operators"
Rocksdb fails to register merge operators when using the `open_cf` function. For some reason, when creating with the following minimal example, using a column family makes the code completely ignore the `set_merge_operator` options.
[code]
Looking into the `OPTIONS` files, we can observe the following:
[code]

It appears that both merge operators and compaction filters are being completely ignored

[2020-05-08 03:08] jparr721 commented on #426
I have found a workaround in the following form:
[code]
This has solved the problem of options objects being overridden.

[2020-05-08 03:52] jparr721 commented on #426
Turns out this only works on creation, when reopening the database this fails as the column families to do not get reopened.

[2020-05-08 09:33] aleksuss commented on #426
Hello. It's because `open_cf` method creates and uses default options for column families under the hood. Take a look here #370

[2020-05-08 13:56] jparr721 commented on #426
@aleksuss Thank you, I seem to have missed that. Would you mind if I open a documentation PR? Looks like others have accidentally fallen into this trap.

[2020-05-08 13:58] aleksuss commented on #426
Yes. Sure.

[2020-05-08 22:46] ailisp opened #427 "Expose CancelAllBackgroundWork"
It's mentioned in rocksdb wiki to speed up time to waiting:

A: No. The users of RocksDB need to make sure all functions have finished before they close RocksDB. You can speed up the waiting by calling CancelAllBackgroundWork().

It'd be great to have it exposed in rust-rocksdb

[2020-05-09 18:14] #426 closed

[2020-05-10 12:17] DarkEld3r commented on #427
It is definitely a good idea, but currently this function isn't exposed in the C API. I have made a pull request (https://github.com/facebook/rocksdb/pull/6832), but it will take some time for it to be merged and a new version to be released.

[2020-05-15 12:11] vimmerru commented on #324
I was able to compile it for android with NDK 21 using the following command

[code]

and specification of path to ar and linker in .cargo/config

[code]

[2020-05-18 09:48] vimmerru commented on #324
Unfortunately build only works for armv7 and aarch64 targets and breaks on i686 and x86_64 targets that are definitely required (to use on Android EMU for example). The error looks like

[code]

For x86_64-androdi So seems the problem in setting of unsupported pclmul for ```x86_64``` target in this block

[code]

i was able to fix build by changing it to

[code]

Need to check for SSE42 support st

[2020-05-18 09:56] vimmerru commented on #324
For i686 seems it works on current master

[2020-05-18 11:18] vimmerru commented on #324
Here is the fix https://github.com/rust-rocksdb/rust-rocksdb/pull/429

[2020-05-18 11:59] vimmerru commented on #324
Also build doesn't work without ```BINDGEN_EXTRA_CLANG_ARGS="--target=aarch64-linux-android" ``` that confuses a lot.

The problem is current versions of bindgen don't provide correct target for invoked clang during cross-compilation.  Here is workaround to set BINDGEN_EXTRA_CLANG_ARGS variable and provide target here. For example, BINDGEN_EXTRA_CLANG_ARGS="--target=aarch64-linux-android", but it

[2020-05-18 17:08] zach-schoenberger opened #430 "Comparator error when re-opening db"
I found that I get the below error when re-opening a DB that was created a certain way.
`Invalid argument: leveldb.BytewiseComparator: does not match existing comparator`

I believe it is because when opening a DB without specifying CF's, the default CF is created without using the custom Options. And I think the problem might be here https://github.com/rust-rocksdb/rust-rocksdb/blob/master/src/db

[2020-05-18 20:22] andybry commented on #381
I experienced this issue. For me the problem was that the default toolchain that was installed by  `rustup` was the 32 bit version (i.e. `stable-i686-pc-windows-msvc`).

The issue was resolved by installing the 64 bit toolchain (`stable-x86_64-pc-windows-msvc`) and then rebuilding.

The exact commands I ran were:

[code]

I was then able to build successfully.

[2020-05-18 20:47] DarkEld3r commented on #430
Thanks for the report!

I'm going to take a look at this issue. Unfortunately, I suppose that your suggestion isn't going to work because all column families (not only the default one) use default options:
https://github.com/rust-rocksdb/rust-rocksdb/blob/master/src/db.rs#L123

It seems that a comparator should be provided for each column family separately. It seems we need to provide a slightly d

[2020-05-18 20:53] zach-schoenberger commented on #430
Thanks @DarkEld3r. I had the same thought. Honestly I was confused why the comparator was working at all for the exact reason you gave. I figured it had a chance of fixing it because of whatever magic was going on when it traversed the else side of the conditional.

[2020-05-18 21:13] DarkEld3r commented on #430
I suppose you have created column families with `create_cf` call and used the same options that you have used for DB? These options are passed to rocksdb, so I guess it is the reason why everything is working as intended.

[2020-05-19 08:06] aleksuss commented on #430
@zach-schoenberger What method do you use to open DB on the step 4 ?

[2020-05-19 08:08] aleksuss commented on #430
@zach-schoenberger Take a look [here](https://github.com/rust-rocksdb/rust-rocksdb/issues/370#issuecomment-573399033).

[2020-05-19 09:12] DarkEld3r commented on #430
@aleksuss Thanks, I have totally missed the `open_cf_descriptors` function. I can confirm that the following works for me:
[code]

[2020-05-19 09:30] flipchan commented on #404
nice

[2020-05-19 20:28] zach-schoenberger commented on #430
Interesting. I definitely would not have thought that at first. I'll update to use the above. Definitely wasn't intuitive to me. I was using DB::open_cf() and DB::open(). I did get my original scenario to appear to work by just including the "default" cf name with an initial DB::open_cf instead of DB::open, but i like the above much more since it appears to honor the options.

[2020-05-26 18:11] ailisp opened #432 "Expose max_log_file_size etc."
`LOG` file in rocksdb can go more than 1GB, it will be nice to expose these several options to limit it:

[code]

[2020-05-27 22:05] DarkEld3r commented on #432
As far as I can see, `set_keep_log_file_num` is already present in the options interface. As for `max_log_file_size` and `recycle_log_file_num`, I have made the pull request.

[2020-05-28 06:31] #432 closed

[2020-05-28 15:17] zach-schoenberger opened #434 "include/rocksdb/env.h"
Hi, not sure if this is the proper place for this, but I was wondering if there was any plan to start support for the env.h configs? I ask because I'm looking to use the conifg described here https://github.com/facebook/rocksdb/wiki/Thread-Pool to change the SetBackgroundThreads.

[2020-05-29 06:55] aleksuss commented on #434
Hello. As far as I can see C API provides all needed stuff to realise this on the Rust side. So I suppose it would be done in the near future. By the way feel free to create PR if you want 🙂

[2020-05-29 17:55] zach-schoenberger commented on #434
Cool, I had thought about doing that. I just wanted to make sure there wasn't something already in motion or if i missed something since the bindings were already there.

[2020-06-05 23:27] mimoo opened #436 "Can't build on CentOS anymore"
Hey, I'm having the following problem when I try to build now:

[code]

[2020-06-06 18:24] aleksuss commented on #436
Hi. https://linuxhint.com/install_llvm_centos7/

[2020-06-10 01:04] mimoo commented on #436
thanks :D

[2020-06-10 01:04] #436 closed

[2020-06-13 15:22] acrrd commented on #297
Does #425 address this?

[2020-06-13 15:51] DarkEld3r commented on #297
@acrrd I suppose it is.

@jo2wan Feel free to reopen this issue if #425 is missing something.

[2020-06-13 15:51] #297 closed

[2020-06-23 02:11] rohitjoshi opened #439 "Support for contains key / key exist?"
Does this support checking the key if exist in the DB without returning the value / updating the cache?

[2020-06-23 12:58] DarkEld3r commented on #439
I have quickly checked and was unable to find the corresponding api in rocksdb. Have you checked there?

We can add a method in the rust bindings, but I think that it makes little sense without rocksdb support.

Feel free to reopen the issue if I have missed something.

[2020-06-23 14:05] rohitjoshi commented on #439
Rocksdb does support this feature.

See other [Rust rocksdb implementation](https://docs.rs/rocks/0.1.8/rocks/db/struct.DBRef.html#method.key_may_exist)

[2020-06-23 21:09] DarkEld3r commented on #439
Thanks, for some reason I was unable to find these methods: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/db.h#L653
As far as I can see, these functions aren't exposed through the C API. I have made the pull request: https://github.com/facebook/rocksdb/pull/7021

[2020-06-27 15:28] valeriansaliou opened #440 "MUSL builds via cross of projects depending on rust-rocksdb"
Hello there,

I'm using `rust-rocksdb` in https://github.com/valeriansaliou/sonic ; I've been trying over the last few days to get it to cross-compile via MUSL, using https://github.com/rust-embedded/cross (`x86_64-unknown-linux-musl` target); with no luck. While this target works fine for other Rust projects of mine, it fails to compile for Sonic due to `rust-rocksdb`, or `rocksdb` itself.

Note

[2020-06-27 15:31] valeriansaliou commented on #440
Note that, from the supported target matrix from `cross`, it shows that C++ is not included as part of `x86_64-unknown-linux-musl`, while it is included for `x86_64-unknown-linux-gnu`. Am I probably missing some extra-package, or is MUSL impossible w/ C++?

See: https://github.com/rust-embedded/cross#supported-targets

[2020-07-02 17:41] cassandracomar commented on #440
ran into the same issue attempting to statically link a couple of different ways.

[2020-07-20 17:11] ailisp opened #447 "export stats_persist_period_sec option and rocksdb_env_set_background_threads"
These are needed if user want to disable all threads in rocksdb. Only set `set_max_background_jobs`, `set_max_background_compactions`, `set_max_background_flushes` to 0 will still leave 4 additional threads. By this in C++ rocksdb it's possible to disable all threads by (tested in lldb):
[code]

[2020-07-27 13:51] ordian commented on #439
@DarkEld3r hey, the methods exposed in your PR still read the values, so they are not that different from `get` IIUC. Do you think it's possible to implement a check w/o loading values into memory?

[2020-07-27 13:52] ordian commented on #439
Also `KeyMightExist` can return false positives IIUC.

[2020-07-27 13:56] ordian commented on #439
Ah, sorry, I misread the comment. So by supplying `null` `value_found` it actually doesn't read the value.

[2020-07-29 22:05] developerfred commented on #447
@ailisp and @nearmax done the functions have already been published in the master on Facebook/rocksdb

[2020-07-29 22:20] ailisp commented on #447
Cool! Can you export it in rust-rocksdb (it's okay to submit your fork of rust-rocksdb, bump rocksdb version here: https://github.com/rust-rocksdb/rust-rocksdb/tree/master/librocksdb-sys to include your commit to Facebook/rocksdb)

[2020-07-29 22:24] developerfred commented on #447
@ailisp ok, I will do!

[2020-08-05 04:25] kaimast commented on #347
What's the progress of this? I see some commits recently referencing this issue, but I am not sure they actually address this issue.

[2020-08-06 17:28] ailisp commented on #447
@nearmax @developerfred 's work is fully as we expected, there was a problem on my test (must wait a few seconds so rocksdb shutdown threads) we can release the bounty

[2020-08-25 02:38] xuchen-plus commented on #414
I see this has been addressed in #442 so close it.

[2020-08-25 02:38] #414 closed

[2020-08-25 10:03] #410 closed

[2020-08-30 13:45] jensim commented on #303
`clang-sys` now has 1.0.0 version

[2020-08-31 07:03] #427 closed

[2020-08-31 11:07] stanislav-tkach commented on #303
Closed by #460.

[2020-08-31 11:07] #303 closed

[2020-09-01 20:40] stanislav-tkach commented on #434
I guess this can be closed after #448 is merged.

[2020-09-02 19:52] stanislav-tkach commented on #307
Clone for `Options` has been implemented in the #455 pull request.

[2020-09-07 16:54] silasb opened #461 "Hi @jensim I was asking about this for RocksDB as I was running into issues getting it to build. Looks like the issue has nothing to do with librocksdb-sys or RocksDB crate at all. Sorry for the noise. I'll comment on my fix in case anyone else makes it here."
Hi @jensim I was asking about this for RocksDB as I was running into issues getting it to build.  Looks like the issue has nothing to do with librocksdb-sys or RocksDB crate at all. Sorry for the noise. I'll comment on my fix in case anyone else makes it here.

My issue has something to do with LinuxBrew `ldd` vs Debian `ldd` that was causing me issues when building `rocksdb`.  Removing `linuxbrew

[2020-09-07 16:54] #461 closed

[2020-09-11 08:38] NeoLegends opened #462 "Issues with Cache"
Hey, we've been updating to v0.15. We were using https://docs.rs/rocksdb/0.15.0/rocksdb/struct.BlockBasedOptions.html#method.set_lru_cache before, but since that is deprecated we are refactoring. We noticed two main issues:

- The dependency of `DB` on the lifetime of the `Cache` is not encoded in the type system. As far as I understand the documentation, dropping the Cache before dropping the DB

[2020-09-13 22:25] tim-patterson commented on #462
Just a note to say as far the lifetimes, I've noticed the same thing when setting custom env's (ie the in-mem one for testing).
(it segfaults if the env doesn't live long enough).

Maybe there's more places where this is going to be an issue.

I had a quick look but to me it looks like current API isn't really going play nice with rusts lifetime tracking?

[2020-09-21 18:25] stanislav-tkach commented on #462
There are definitely some issues with lifetimes and I think this should be improved. Unfortunately, it would be a breaking change. Ideally I think that we should finish #431 and fix lifetime issues along with (or after) that.

[2020-09-21 18:29] NeoLegends commented on #462
I don't think this being a breaking change matters, being that this library is still marked as unstable (i. e. major version 0). This could actually pose a soundness vulnerability, since failing to manage the cache properly and thus causing UB is possible without `unsafe`.

[2020-09-22 21:32] DemiMarie opened #463 "RocksDB objects can be live during static destruction, which is UB"
RocksDB [relies on global objects with destructors](https://github.com/facebook/rocksdb/issues/649#issuecomment-119779477), so all RocksDB objects must be destroyed before static destructors run.

[2020-09-24 15:35] stanislav-tkach commented on #462
I agree that the breaking change is much less important than the correct api. I mean that if we are going to change the api anyway, then ideally it can be done once.

[2020-10-01 22:46] denis2342 commented on #29
I converted a working c merge operator code to column families and it does not work. I get the err "rocksdb_open fail: Invalid argument: merge_operator is not properly initialized".

[2020-10-02 21:02] rohitjoshi opened #464 "Support for get_int_property() to retrieve estimated number of keys"
How do I retrieve the number of estimated keys ?

See the supported properties using this method: https://docs.rs/rocks/0.1.9/rocks/db/struct.DBRef.html#method.get_int_property

[2020-10-02 21:04] rohitjoshi commented on #464
I found this: https://docs.rs/rocksdb/0.15.0/rocksdb/struct.DB.html#method.property_int_value

[2020-10-02 21:04] #464 closed

[2020-10-04 12:33] rohitjoshi opened #465 "Backup and Restore: Support for max_background_operations"
Restore operation uses single thread by default which is very slow. How can increase the number of threads? Here is C++ setting from rocksdb

  // Up to this many background threads will copy files for CreateNewBackup()
  // and RestoreDBFromBackup()
  // Default: 1
 [ int max_background_operations;](https://github.com/facebook/rocksdb/blob/31d1cea4f368a51d574d0b2fe4d3e8157f9dcb4a/include/rocksdb/

[2020-10-05 03:17] rohitjoshi commented on #439
@stanislav-tkach your [PR  facebook/rocksdb#7021](https://github.com/facebook/rocksdb/pull/7021) is already merge. Can we add support?

[2020-10-05 09:46] stanislav-tkach commented on #439
@rohitjoshi The latest (6.11.4) rocksdb release was at Jul 20 and unfortunately it doesn't include my changes. I suppose we need to wait for the next release.

[2020-10-07 14:05] cassandracomar commented on #440
for anyone interested, I managed to get around this issue by using rust & cargo from the alpine package registry:

[code]

[2020-10-10 19:42] stanislav-tkach commented on #465
As far as I can see, the C API is missing for `BackupableDBOptions`. I'm going to submit a pull request to the rocksdb repository.

[2020-10-13 23:30] stanislav-tkach commented on #465
https://github.com/facebook/rocksdb/pull/7550

[2020-10-14 07:25] #307 closed

[2020-10-20 14:37] jrobhoward commented on #29
For the folks who are seeing this bug: _How are you opening the database?_

I encountered the problem and did see it go away if I use `DB::open_cf_descriptors()`, instead of `DB::open_cf()`.  I believe the underlying issue is that `DB::open_cf()` applies default Options to any column families it creates.  Default Options will not include a merge operator.

Unless I'm mistaken:
- RocksDB wants us t

[2020-10-27 13:54] 19h opened #467 "Cannot build rocksdb"
Hello,

I just bought a new 16" MacBook and cannot build my rocksdb dependent projects on it anymore. (Which is weird because I used a 16" before but I'm not sure about its processor anymore because it was destroyed.)

Specifically, I am encountering the following error on every build:

I tried adding every version of rocksdb back to 0.12, but none would build.

I'm sure this is entirely unrelated

[2020-10-29 18:46] jrobhoward opened #468 "Question: Why do create_cf() and drop_cf() require mutability?"
**Question:**
Sometime between 0.12.0 and 0.13.0, the interface changed so `create_cf() `and `drop_cf()` now require a mutable reference to self instead of an immutable reference.
- Was this done because of an underlying issue with RocksDB itself (e.g. it's the only safe way to create or drop column families)?
- Or was this done for a reason specific to the Rust bindings?

**Background (why I ask)

[2020-10-30 12:22] #467 closed

[2020-10-31 12:40] zhuxiujia opened #469 "Please add Rust GNU tool chain support"
Please add Rust GNU tool chain support，
now , must use MSVC ,if use GNU  will  Compilation fails

[2020-10-31 15:24] stanislav-tkach commented on #468
This was changed in the https://github.com/rust-rocksdb/rust-rocksdb/commit/54ff3db8ecd93770dfa73ea864d713a283c3ce21 commit (https://github.com/rust-rocksdb/rust-rocksdb/pull/314 pull request). As far as I can see, this was done to remove internal `RwLock`. The pull request has some motivation description, but perhaps @aleksuss can add more details.

[2020-11-02 09:23] aleksuss commented on #468
Yeah. @stanislav-tkach is right. The main reason is to remove internal `RwLock` which could decrease a performance.

[2020-11-05 21:44] splix opened #471 "librocksdb-sys v5.18.4 build fails on macOs"
The recent release of librocksdb-sys v5.18.4 stopped to compile on macOS. Cannot compile project with this dependency neither on dev mac, nor on Github Actions with macos.

The error is like:
[code]

[2020-11-06 08:05] aleksuss commented on #471
Thanks for the issue. There was a wrong git revision of `rocksdb` submodule. 5.18.4 has been yanked and 5.18.5 has been released.

[2020-11-07 20:32] jrobhoward commented on #468
Thanks for the prompt responses.  Now that I understand why a mutable reference is used in `create_cf()` and `drop_cf()`, I have a couple options available and can move forward:

- Originally, I was planning on using a Cargo/Crates.io [patch](https://doc.rust-lang.org/edition-guide/rust-2018/cargo-and-crates-io/replacing-dependencies-with-patch.html) to revert the code and go back to immutable met

[2020-11-07 20:32] #468 closed

[2020-11-09 14:27] yiyanwannian opened #474 "Compiling librocksdb-sys v6.11.4 failed on macOS 10.15.7"
err:
  error occurred: Command "c++" "-O3" "-ffunction-sections" "-fdata-sections" "-fPIC" "-m64" "-arch" "x86_64" "-I" "rocksdb/include/" "-I" "rocksdb/" "-I" "rocksdb/third-party/gtest-1.8.1/fused-src/" "-I" "." "-Wall" "-Wextra" "-std=c++11" "-Wno-unused-parameter" "-msse2" "-msse4.1" "-msse4.2" "-mpclmul" "-DNDEBUG=1" "-DHAVE_SSE42=1" "-DHAVE_PCLMUL=1" "-DOS_MACOSX=1" "-DROCKSDB_PLATFORM_POSIX

[2020-11-12 03:44] xiangloong opened #475 "Compiling librocksdb-sys v6.6.4 failed"

[2020-11-12 03:52] #475 closed

[2020-11-13 13:14] GuyTabak opened #476 "Failed compiling rocksdb on win10"
Running `C:\Users\Guy\Workspace\dev\rocks2\rust-rocksdb\target\debug\build\librocksdb-sys-7792c8b6a17adb0e\build-script-build`
[librocksdb-sys 6.11.4] error: header 'rocksdb/include/rocksdb/c.h' does not exist.
[librocksdb-sys 6.11.4] thread 'main' panicked at 'unable to generate rocksdb bindings: ()', librocksdb-sys\build.rs:44:10
[librocksdb-sys 6.11.4] note: run with `RUST_BACKTRACE=1` environm

[2020-11-15 10:33] GuyTabak commented on #476
Was missing visual studio build tools 2017

[2020-11-15 10:33] #476 closed

[2020-11-19 01:56] kaimast commented on #474
I am also getting build errors on two different linux machines. One with Ubuntu 20.10 and one with ubuntu 20.04. Both have the most recent rust nightly...

Is there a specific version of clang or GCC that should be used?

[2020-11-19 03:31] rohitjoshi commented on #474
This issue came when I ran `cargo update` which updated `cc` package. I manually changed back to `v1.0.61` version and it works fine now.

[2020-11-19 09:36] Maher4Ever commented on #474
@rohitjoshi How did you downgrade the `cc` build dependency?

[2020-11-19 13:34] yiyanwannian commented on #474
after add build-dependencies.cc toCargo.toml, but some error still over there
![image](https://user-images.githubusercontent.com/8225547/99672786-dc156d80-2aae-11eb-8ae9-b92edbdbb424.png)

[2020-11-19 19:19] jrobhoward opened #479 "rust-rocksdb stops building with "cc" v1.0.63 (macos, Linux)"
After running a `cargo update`, I noticed my builds started breaking with undefined symbols:

[code]

The simplest way I can think of to reproduce this is to create a fresh binary (`cargo new --bin testapp`), and make the following changes, and run `cargo update` and then `cargo build`:
[code]
^ On macOS & Linux,  `cargo build` fails with undefined symbols (haven't tried Windows).

If I consume a

[2020-11-19 20:28] tkintscher commented on #479
A small addition:
I've run into the same issue and found the easiest way to reproduce is by cloning the repo and running `cargo test`. Linking the tests will fail in the same way.

[2020-11-20 12:50] apyrgio commented on #479
I'm encountering the same errors in Linux and macOS as well. Here are the relevant errors from my builds:

Error report for Ubuntu:
    <details>
      <summary>Logs</summary>
[code]
</details>

Error report for macOS:
    <details>
      <summary>Logs</summary>
[code]
</details>

Some extra things of interest:

1. In my case, I'm using `rocksdb = "0.14"` as a dependency, so this doesn't look like

[2020-11-20 12:54] aleksuss commented on #479
I'd advise to use system library of `rocksdb` as a temporary workaround . On mac os I couldn't reproduce this error with system library of `rocksdb`.

[2020-11-20 18:14] aleksuss commented on #479
This PR https://github.com/alexcrichton/cc-rs/pull/569 fixes the issue. `cc` crate was bumped to 1.0.64 as well. @jrobhoward could you validate please ?

[2020-11-20 18:27] jrobhoward commented on #479
Fixed, now that it consumes 1.0.64.  Closing this issue.
Thanks

[2020-11-20 18:40] jrobhoward commented on #479
_oops: I was still building with cc v1.0.62 when I claimed success._

Here is what I see with cc v1.0.64 (same reproduction steps as in my first comment):

[code]

[2020-11-20 20:20] aleksuss commented on #479
Weird 🤔. Have you done `cargo clean && cargo update` ? What's OS ? Linux ? On mac os on master is ok. I've checked it out.

[2020-11-20 20:39] alexcrichton commented on #479
Mind testing 1.0.65 of the `cc` crate to see if it fixes the issues?

[2020-11-20 20:47] jrobhoward commented on #479
I tried again with v1.0.65 on Linux, and it now works as expected.
Thanks again for all the help!

[2020-11-20 20:47] #479 closed

[2020-11-21 15:36] yiyanwannian commented on #474
My issue still on my macos
rustup show
Default host: x86_64-apple-darwin
rustup home:  /Users/xxx/.rustup

installed toolchains
--------------------

stable-x86_64-apple-darwin (default)
nightly-x86_64-apple-darwin

active toolchain
----------------

stable-x86_64-apple-darwin (default)
rustc 1.48.0 (7eac88abb 2020-11-16)

[2020-11-24 00:51] xlc opened #482 "Failed to build on Apple Silicon"
macOS Big Sur 11.0 (20A2411) Mac mini (M1, 2020)

Tried on commit `2ed4d80cf312cbb84d7c7953365649fdf9b8b92a`

[code]

[code]

<details><summary>Full output</summary>
<p>

[code]

</p>
</details>

[2020-11-24 01:26] hdevalence commented on #482
I also ran into this problem and filed an issue upstream: https://github.com/facebook/rocksdb/issues/7710

[2020-11-24 02:39] hdevalence commented on #482
I have a patched fork that seems to build:

rust changes: https://github.com/hdevalence/rust-rocksdb/commit/33cd4281570b229b628d6d827fa0053cff57000a

rocksdb changes: https://github.com/hdevalence/rocksdb/commit/ed1882ef51197d8d824ac50d946a7fff850066a1

[2020-11-24 02:55] xlc commented on #482
Can confirm https://github.com/hdevalence/rust-rocksdb/commit/33cd4281570b229b628d6d827fa0053cff57000a works. Let me try use it to build for downstream project (Substrate).

[2020-11-25 03:49] yiyanwannian commented on #474
fixed by change /Library/Developer/CommandLineTools/usr/bin/../include/c++/v1/cmath file
line: 304
change include <math.h> to include "math.h"

[2020-11-25 03:49] #474 closed

[2020-11-25 21:31] hayesgm commented on #482
I'm getting `LLVM ERROR: Unsupported calling convention.` when running the patch from https://github.com/hdevalence/rust-rocksdb/commit/33cd4281570b229b628d6d827fa0053cff57000a. Has anyone else seen this issue? I tried also running the code from https://github.com/facebook/rocksdb/pull/7714, which failed with a different result:

`cargo:warning=clang: error: no such file or directory: 'rocksdb/db/

[2020-11-26 05:57] wannam2049 commented on #479
I met the same issue. Attach the logs for other people.

[code]

[2020-11-26 10:29] xlc commented on #482
@hayesgm [this](https://github.com/debris/fs-swap/pull/10/files#diff-e84f3d0ef4443d7dac0b6443d49905fc86537ac06a4b3e1cbf5a79988962f223R18) is a possible cause of `LLVM ERROR: Unsupported calling convention.`

[2020-12-08 06:03] carllin commented on #439
Any update on this?

[2020-12-08 17:01] stanislav-tkach commented on #439
As far as I can see, the latest RocksDB release includes the required C-API changes, but we are still using the 6.11.4 version.

[2020-12-16 09:47] JEnoch opened #485 "DB::multi_get()"
Hi,
I see that `rocksdb_multi_get()` is available and tested in librocksdb_sys. But it's not exposed via the Rust API.
Is there a plan to add a `DB::multi_get()` operation any time soon ?

[2020-12-17 16:18] rohitjoshi opened #486 "ReadOptions: support for timeout"
RocksDB ReadOptions provided following two parameters for `get` timeout.

[deadline](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1410) : Deadline for completing an API call (Get/MultiGet/Seek/Next for now)

[iotimeout](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1416) : timeout for each individual file read request

I would really appre

[2020-12-17 19:07] stanislav-tkach commented on #485
I will try to finish the #487 pull request which adds these functions soon.

[2020-12-17 19:13] JEnoch commented on #485
That's great! Thanks!

[2020-12-20 14:55] #485 closed

[2020-12-21 20:53] ArunGust opened #488 ""rocksdb/db/external_sst_file_ingestion_job.cc" with args "cl.exe" did not execute successfully (status code exit code: 2)."
Please help to resolve

--- stderr

  error occurred: Command "D:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.28.29333\\bin\\HostX64\\x64\\cl.exe" "-nologo" "-MD" "-Z7" "-Brepro" "-I" "rocksdb/include/" "-I" "rocksdb/" "-I" "rocksdb/third-party/gtest-1.7.0/fused-src/" "-I" "snappy/" "-I" "lz4/lib/" "-I" "zstd/lib/" "-I" "zstd/lib/dictBuilder/" "-I" "zlib/" "

[2020-12-21 21:00] ArunGust opened #489 ""rocksdb/db/logs_with_prep_tracker.cc" logs_with_prep_tracker.cc D:\Program Files (x86)\Microsoft Visual Studio\2019\Community\VC\Tools\MSVC\14.28.29333\include\algorithm(7419): error C3892: '_First': you cannot assign to a variable that is const"
running: "D:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.28.29333\\bin\\HostX64\\x64\\cl.exe" "-nologo" "-MD" "-Z7" "-Brepro"
"-I" "rocksdb/include/" "-I" "rocksdb/" "-I" "rocksdb/third-party/gtest-1.7.0/fused-src/" "-I" "snappy/" "-I" "lz4/lib/" "-I" "zstd/lib/" "-I" "zstd/lib/dictBuilder/" "-I" "zlib/" "-I" "bzip2/" "-I" "." "-W4" "-EHsc" "-DSNAPPY=1" "-DL

[2021-01-07 21:13] f41gh7 opened #490 "Support WriteBatch serialization and deserialization."
Hello, i want to implement replication between rocksdb instances. As far as i understand, now rust-rocksdb supports all needed apis, except one last feature - writebatch serialization. I want to create WriteBatch from bytes and serialize it to bytes, to be able to send it over network for replication.

 Is any way to achieve it? Or i can make PR with my solution.

[2021-01-19 07:44] #447 closed

[2021-01-24 07:15] blmarket commented on #440
I think this issue is due to https://github.com/rust-lang/rust/issues/36710 so there's not much things can be done from rust-rocksdb itself. I found https://github.com/rust-lang/rust/issues/36710#issuecomment-364623950 can be another mitigation without using docker builds.

[2021-01-30 20:21] stanislav-tkach commented on #486
As usual, this variables needs to be exported through the C api first. 🙃
https://github.com/facebook/rocksdb/pull/7914

[2021-01-30 20:47] stanislav-tkach commented on #490
Sorry for the late reply. Honestly, I'm less involved with anything related to RocksDB now, so I don't fully understand your situation. Could you please elaborate on what api needs to be added?

[2021-01-30 21:02] f41gh7 commented on #490
I need something like:
[code]

[2021-02-04 03:32] zhangsoledad opened #494 "merge operator delete_callback"
I got a case that needs to use `merge` function.
I notice https://github.com/rust-rocksdb/rust-rocksdb/pull/457 introduce `delete_callback` to handle memory release and avoid copy.
https://github.com/xuchen-plus/rust-rocksdb/blob/392d20a4df6c9319822eaabfd517c7697a735377/src/db_options.rs#L945-L952
[code]

But https://github.com/rust-rocksdb/rust-rocksdb/pull/481  overwrite it back.

https://github

[2021-02-08 05:59] EthanYidong opened #495 "Better documentation for MergeFn"
The RocksDB merge function signatures are quite different from the implementation here (courtesy of rust), so it would be a good idea to document how the C++ merge functions are mapped onto the rust bindings.

[2021-02-08 15:20] stanislav-tkach commented on #490
I guess it makes sense to add such api. Would you like to submit a pull request?

[2021-02-08 20:43] stanislav-tkach commented on #494
Honestly, I have missed that detail in the #481 pull request. Would you like to submit a pull request to fix that issue?

[2021-02-09 07:38] f41gh7 commented on #490
Sure.

[2021-02-10 18:48] stanislav-tkach commented on #495
I'm OK with splitting the `MergeFn` trait. @aleksuss What do you think?

[2021-02-11 07:51] aleksuss commented on #495
I think it makes sense 👍🏻

[2021-02-12 21:38] EthanYidong commented on #495
Great, I'll try and get started on that. While we're on the topic of splitting, what is your opinion on splitting the `Options` strict into the global options and the column family options?

[2021-02-14 16:56] acrrd commented on #462
When opening a database with `open_cf_descriptors` each `ColumnFamilyDescriptor` has an `Options` that could have an `Env` and `Cache`, do we have to keep track of those?

[2021-02-16 19:48] stanislav-tkach commented on #495
Personally I like the idea, but I'm not sure how that affects the library ergonomic. In case you are eager to experiment, I would like to see the result. 🙃

[2021-02-20 06:19] CriesofCarrots opened #499 "Cannot open database: Corruption: file is too short (108184131 bytes) to be an sstable"
Database seems to be corrupted when we try to reopen it. Error says `054476.sst` is too short to be an sstable.
The sst and the log from the reopen attempt. [054476.zip](https://github.com/rust-rocksdb/rust-rocksdb/files/6014250/054476.zip) I also have logs from the earlier operation of the database.
How can we prevent this issue?